# Stoneburner, Kurt
- ## DSC 550 - Week 01

In [35]:
import os
import sys
# //*** Imports and Load Data
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

### 1. Create an array of size [10,50] and use the random function to fill it with integers between 1 and 500 (inclusive). Load it to a DataFrame.###

In [36]:
#//*** There is a lot going on in one line of code
#//*** 1. np.random.randint generates random number between x and y-1. 
#//***    It's a Zero based random number hence starting at 1. 
#//***    501 makes the random number inclusive to 500
#//*** 2. size=(10,50) generates a 10 row, by 50 Column Array which is filled with pseudo-random numbers
#//*** 3. The 10,50 is piped into a DataFrame.

bt_df = pd.DataFrame(np.random.randint(1,501,size=(10,50)))
print(bt_df)

    0    1    2    3    4    5    6    7    8    9   ...   40   41   42   43  \
0  188  382   30  242  276  326  115  347  243  419  ...  230  415  359  185
1  127  353  427  485  449  368    1  444   61  433  ...   89  360   71  423
2   44  408  246  234  322  425  153  218   87  151  ...  472  144  184  408
3  230   94  319  500  118  442  247  288  172  136  ...  143  389  281  482
4  162  143  233  102  491   64   84   55  218  183  ...   66  322  202  250
5   43  460  225  412  421  224  219  413  205  412  ...  178  446  387   93
6  172   61   15   71  450  374   44  439   43  438  ...  214  324    9  118
7  110   41  119  174  346    9  361  121  299  477  ...  306  126  393  287
8  402  232  382  328   60  287   27  358  439   44  ...  151  168  471  302
9  153  193   68  370  480   51   83  340  229   24  ...  348  126  379  325

    44   45   46   47   48   49
0  311  494  368  214  156  149
1   27  280  496  275  309  307
2  215   91  238  288  364   83
3  108  227  191  374   58  396
4  185   20  498  241  276  100
5  455   89  323  194  227  184
6  480  199  200  271  432  153
7   55  201  240  485  366  295
8  477  159  226   49  417  282
9  484  230  259  318  484  236

[10 rows x 50 columns]

### 2. Calculate the sum of each row; the sum of each column; and the sum of all entries. ###

In [37]:
#//*** Use the dataframe in-built sum function. Axis=1 Refers to a column-wise operation.
print("Sum of each column\n")
print(bt_df.sum(axis=1))
print()

#//*** Use the dataframe in-built sum function. Axis=1 Refers to a row-wise operation.
print("Sum of each Row\n")
print(bt_df.sum(axis=0))

#//*** Get the Sum of each column (or row) and sum the result
print("Sum of all Values")
print(bt_df.sum(axis=1).sum())

Sum of each column

0    12898
1    14353
2    10892
3    11908
4    12280
5    13198
6    11812
7    12268
8    14260
9    12538
dtype: int64

Sum of each Row

0     1631
1     2367
2     2064
3     2918
4     3413
5     2570
6     1334
7     3023
8     1996
9     2717
10    3048
11    2167
12    2412
13    2204
14    2424
15    2402
16    2112
17    3227
18    2853
19    3249
20    2850
21    2829
22    2026
23    2476
24    2235
25    2624
26    1643
27    2531
28    2297
29    3636
30    2220
31    2700
32    2270
33    2652
34    2411
35    2327
36    3142
37    2311
38    2526
39    2135
40    2197
41    2820
42    2736
43    2873
44    2797
45    1990
46    3039
47    2709
48    3089
49    2185
dtype: int64
Sum of all Values
126407

In [38]:
#//*** Double check the Pandas Row Sums
print("===========================================")
print("Manually verify the row sums match pd.sum()")
print("===========================================")
print("Manual : pd.Sum() : Equal")
print("=========================")
for row_dex in range(0,len(bt_df)):
    #//*** This is still cheating since, we're still using the Series.sum()
    #print(bt_df.iloc[rowdex].sum())
    row_total = 0
    for series_dex in range(0,len(bt_df.iloc[row_dex])):
        row_total += bt_df.iloc[row_dex][series_dex]
    print(f"{row_total}  : {bt_df.sum(axis=1)[row_dex]}    : {(row_total == bt_df.sum(axis=1)[row_dex])}")

===========================================
Manually verify the row sums match pd.sum()
===========================================
Manual : pd.Sum() : Equal
=========================
12898  : 12898    : True
14353  : 14353    : True
10892  : 10892    : True
11908  : 11908    : True
12280  : 12280    : True
13198  : 13198    : True
11812  : 11812    : True
12268  : 12268    : True
14260  : 14260    : True
12538  : 12538    : True

### 3. Determine the minimum; maximum; average; and standard deviation of all entries. ###

In [39]:
print(f"Min value: { bt_df.values.flatten().min()}")
print(f"Max value: { bt_df.values.flatten().max()}")
print(f"Mean value: { bt_df.values.flatten().mean()}")
print(f"std Dev: { bt_df.values.flatten().std()}")

Min value: 1
Max value: 500
Mean value: 252.814
std Dev: 143.99538674554822

### 4. Sort the DataFrame: a) sort on column 2; b) sort on row 2. ###

In [40]:
print("=========================")
print("Sort By Column 2")
print("=========================")
print(bt_df.sort_values(by=(bt_df.columns[1]), axis=0))
print()
print("=========================")
print("Sort By Row 2")
print("=========================")
print(bt_df.sort_values(by=(bt_df.index.values[1]), axis=1))

=========================
Sort By Column 2
=========================
    0    1    2    3    4    5    6    7    8    9   ...   40   41   42   43  \
7  110   41  119  174  346    9  361  121  299  477  ...  306  126  393  287
6  172   61   15   71  450  374   44  439   43  438  ...  214  324    9  118
3  230   94  319  500  118  442  247  288  172  136  ...  143  389  281  482
4  162  143  233  102  491   64   84   55  218  183  ...   66  322  202  250
9  153  193   68  370  480   51   83  340  229   24  ...  348  126  379  325
8  402  232  382  328   60  287   27  358  439   44  ...  151  168  471  302
1  127  353  427  485  449  368    1  444   61  433  ...   89  360   71  423
0  188  382   30  242  276  326  115  347  243  419  ...  230  415  359  185
2   44  408  246  234  322  425  153  218   87  151  ...  472  144  184  408
5   43  460  225  412  421  224  219  413  205  412  ...  178  446  387   93

    44   45   46   47   48   49
7   55  201  240  485  366  295
6  480  199  200  271  432  153
3  108  227  191  374   58  396
4  185   20  498  241  276  100
9  484  230  259  318  484  236
8  477  159  226   49  417  282
1   27  280  496  275  309  307
0  311  494  368  214  156  149
2  215   91  238  288  364   83
5  455   89  323  194  227  184

[10 rows x 50 columns]

=========================
Sort By Row 2
=========================
    6    28   44   36   32   8    42   30   31   40  ...   19   22   7    4   \
0  115    9  311  477  346  243  359  317  310  230  ...  456   22  347  276
1    1    3   27   29   54   61   71   79   86   89  ...  436  444  444  449
2  153  450  215  329  168   87  184  404  368  472  ...  385  210  218  322
3  247   33  108  493  207  172  281  428  483  143  ...  278   41  288  118
4   84  173  185  304  194  218  202  124  430   66  ...  143  188   55  491
5  219  460  455  215  443  205  387   55  298  178  ...  113  151  413  421
6   44   84  480  251  177   43    9  230  182  214  ...  469  146  439  450
7  361  250   55  432  191  299  393  196  196  306  ...  302  431  121  346
8   27  394  477  395  162  439  471   11  206  151  ...  400   29  358   60
9   83  441  484  217  328  229  379  376  141  348  ...  267  364  340  480

    3    33   11   15   46   29
0  242  152   32  294  368  473
1  485  488  489  492  496  499
2  234   68   50  112  238  139
3  500  479   89   13  191   10
4  102  333  323    1  498  335
5  412   32  250  109  323  421
6   71    7   71  389  200  451
7  174  284  363  493  240  382
8  328  494   70  226  226  470
9  370  315  430  273  259  456

[10 rows x 50 columns]