# Stoneburner, Kurt
- ## DSC 550 - Week 01

In [4]:
import os
import sys
# //*** Imports and Load Data
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

### 1. Create an array of size [10,50] and use the random function to fill it with integers between 1 and 500 (inclusive). Load it to a DataFrame.###

In [23]:
#//*** There is a lot going on in one line of code
#//*** 1. np.random.randint generates random number between x and y-1. 
#//***    It's a Zero based random number hence starting at 1. 
#//***    501 makes the random number inclusive to 500
#//*** 2. size=(10,50) generates a 10 row, by 50 Column Array which is filled with pseudo-random numbers
#//*** 3. The 10,50 is piped into a DataFrame.

bt_df = pd.DataFrame(np.random.randint(1,501,size=(10,50)))
print(bt_df)

    0    1    2    3    4    5    6    7    8    9   ...   40   41   42   43  \
0  465  155  260  340   42  348  111  453  137  465  ...  266  457  347  402
1  161  344  470  256  153  248  100   62  327   17  ...  274  213  156  367
2  382  310  499  329   52  500  313  385  322   34  ...   64  369  236  202
3   19  347  199   45  136  264  275  193  337  377  ...   76   99  296   55
4   86  198   82  178  224  306  375  456  219  387  ...  179  367  177   30
5   97  400  281  189  157  284  416  392  145  375  ...  419  244  342   88
6   96  339  309  466  226  372  407  450  355  129  ...  327  417  262  381
7  442   71  418  272  108  473   19  490  192   40  ...  165  133  248  168
8  255  258  220  363   36  110  205   86  122  426  ...   39   85  361  267
9  300  203   52  458  169   79  149  292  336  485  ...  476   45  326  344

    44   45   46   47   48   49
0  242  217  425  343   16  117
1  154  101  408  287   49   92
2  368   13  403   63  340  172
3  231  180  244  314  298  225
4  493  336  176   90  412    9
5  490  278  401  452  294   40
6  470   97   65  185   31  492
7  309  252  266  382  413  479
8  112   15   31   81   44  270
9  416  171  160  198  253  237

[10 rows x 50 columns]

### 2. Calculate the sum of each row; the sum of each column; and the sum of all entries. ###

In [33]:
#//*** Use the dataframe in-built sum function. Axis=1 Refers to a column-wise operation.
print("Sum of each column\n")
print(bt_df.sum(axis=1))

#//*** Use the dataframe in-built sum function. Axis=1 Refers to a row-wise operation.
print("Sum of each Row\n")
print(bt_df.sum(axis=0))

#//*** Get the Sum of each column (or row) and sum the result
print("Sum of all Values")
print(bt_df.sum(axis=1).sum())

Sum of each column

0    13793
1    11794
2    12371
3    10535
4    11288
5    12543
6    12997
7    11889
8    10220
9    14065
dtype: int64
Sum of each Row

0     2303
1     2625
2     2790
3     2896
4     1303
5     2984
6     2370
7     3259
8     2492
9     2735
10    2263
11    2198
12    2162
13    1357
14    2588
15    1557
16    2356
17    2380
18    2335
19    2410
20    2129
21    2732
22    2333
23    2161
24    2117
25    2517
26    2600
27    2089
28    3110
29    2833
30    2591
31    1606
32    2371
33    2534
34    3093
35    3249
36    2441
37    2110
38    2931
39    2614
40    2285
41    2429
42    2751
43    2304
44    3285
45    1660
46    2579
47    2395
48    2150
49    2133
dtype: int64
Sum of all Values
121495

In [51]:
#//*** Double check the Pandas Row Sums
print("===========================================")
print("Manually verify the row sums match pd.sum()")
print("===========================================")
print("Manual : pd.Sum() : Equal")
print("=========================")
for row_dex in range(0,len(bt_df)):
    #//*** This is still cheating since, we're still using the Series.sum()
    #print(bt_df.iloc[rowdex].sum())
    row_total = 0
    for series_dex in range(0,len(bt_df.iloc[row_dex])):
        row_total += bt_df.iloc[row_dex][series_dex]
    print(f"{row_total}  : {bt_df.sum(axis=1)[row_dex]}    : {(row_total == bt_df.sum(axis=1)[row_dex])}")

===========================================
Manually verify the row sums match pd.sum()
===========================================
Manual : pd.Sum() : Equal
=========================
13793  : 13793    : True
11794  : 11794    : True
12371  : 12371    : True
10535  : 10535    : True
11288  : 11288    : True
12543  : 12543    : True
12997  : 12997    : True
11889  : 11889    : True
10220  : 10220    : True
14065  : 14065    : True

### 3. Determine the minimum; maximum; average; and standard deviation of all entries. ###

In [55]:
bt_df.mean()

0     230.3
1     262.5
2     279.0
3     289.6
4     130.3
5     298.4
6     237.0
7     325.9
8     249.2
9     273.5
10    226.3
11    219.8
12    216.2
13    135.7
14    258.8
15    155.7
16    235.6
17    238.0
18    233.5
19    241.0
20    212.9
21    273.2
22    233.3
23    216.1
24    211.7
25    251.7
26    260.0
27    208.9
28    311.0
29    283.3
30    259.1
31    160.6
32    237.1
33    253.4
34    309.3
35    324.9
36    244.1
37    211.0
38    293.1
39    261.4
40    228.5
41    242.9
42    275.1
43    230.4
44    328.5
45    166.0
46    257.9
47    239.5
48    215.0
49    213.3
dtype: float64

### 4. Sort the DataFrame: a) sort on column 2; b) sort on row 2. ###

In [ ]:
# //*** CODE HERE

In [ ]:
# //*** CODE HERE