### List example

In [2]:
list_example = [51, 27, 34, 46, 90, 45, -19]

In [3]:
list_example

[51, 27, 34, 46, 90, 45, -19]

In [6]:
list_example2 = [15, "Yellow car", True, 9.456, [12, "Hello"]]

In [7]:
list_example2

[15, 'Yellow car', True, 9.456, [12, 'Hello']]

### Exercise 1

In [18]:
list_1 = [34, 12, 89, 1]

In [20]:
for i, element in enumerate(list_1):
    print("list_1[{}]=>{}".format(i, element))

list_1[0]=>34
list_1[1]=>12
list_1[2]=>89
list_1[3]=>1

In [9]:
list_1[0]

34

In [11]:
list_1[3]

1

In [12]:
list_1[len(list_1) - 1]

1

In [13]:
list_1[-1]

1

In [14]:
list_1[1:3]

[12, 89]

In [15]:
list_1[-2:]

[89, 1]

In [16]:
list_1[:-2]

[34, 12]

In [17]:
list_1[-1::-1]

[1, 89, 12, 34]

### Exercise 2

In [21]:
list_1 = []
for x in range(0, 100):
    list_1.append(x)

In [22]:
list_1

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [23]:
list_1 = [x for x in range(0, 100)]
list_1

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [24]:
list_1 = [x for x in range(0, 100) if x % 5 == 0]

In [25]:
list_1

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [29]:
list_1 = [1, 4, 56, -1]
list_2 = [1, 39, 245, -23, 0, 45]
list_3 = list_1 + list_2
list_3

[1, 4, 56, -1, 1, 39, 245, -23, 0, 45]

In [30]:
list_1

[1, 4, 56, -1]

In [31]:
list_1.extend(list_2)

In [33]:
list_1  # In place change

[1, 4, 56, -1, 1, 39, 245, -23, 0, 45]

### Eercise 3

In [50]:
list_1 = [x for x in range(0, 100)]
for i in range(0, len(list_1)):
    print(list_1[i])

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [51]:
# Pythonic way
for i in list_1:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [52]:
25 in list_1

True

In [53]:
-45 in list_1

False

### Exercise 4

In [54]:
list_1.sort(reverse=True)

In [55]:
list_1

[99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]

In [56]:
# It had changed in-place before so it will be back to the original list after this. Two negatives is a positive
list_1.reverse()

In [57]:
list_1

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

### Exercise 5

In [59]:
import random
list_1 = [random.randint(0, 30) for x in range (0, 100)]

In [60]:
list_1

[28,
 30,
 22,
 4,
 23,
 23,
 24,
 26,
 25,
 2,
 20,
 12,
 24,
 26,
 18,
 10,
 13,
 2,
 2,
 27,
 22,
 19,
 20,
 21,
 5,
 3,
 25,
 16,
 24,
 18,
 5,
 6,
 5,
 12,
 19,
 29,
 20,
 28,
 10,
 7,
 1,
 3,
 16,
 9,
 0,
 7,
 19,
 12,
 16,
 2,
 26,
 18,
 24,
 24,
 5,
 29,
 9,
 14,
 27,
 3,
 4,
 25,
 9,
 5,
 15,
 1,
 8,
 24,
 7,
 23,
 7,
 24,
 15,
 24,
 16,
 9,
 8,
 10,
 14,
 30,
 9,
 29,
 16,
 21,
 11,
 18,
 25,
 9,
 0,
 20,
 24,
 7,
 9,
 11,
 30,
 30,
 8,
 22,
 27,
 27]

In [61]:
# Manual way of getting unique numbered list from the above.
unique_number_list = []
for x in list_1:
    if x not in unique_number_list:
        unique_number_list.append(x)
unique_number_list

[28,
 30,
 22,
 4,
 23,
 24,
 26,
 25,
 2,
 20,
 12,
 18,
 10,
 13,
 27,
 19,
 21,
 5,
 3,
 16,
 6,
 29,
 7,
 1,
 9,
 0,
 14,
 15,
 8,
 11]

In [62]:
len(unique_number_list)

30