### Exercise 6

In [1]:
import random
list_1 = [random.randint(0, 30) for x in range (0, 100)]

In [2]:
list_1

[13,
 29,
 18,
 10,
 0,
 1,
 15,
 6,
 29,
 25,
 3,
 12,
 15,
 28,
 1,
 20,
 13,
 10,
 5,
 16,
 23,
 18,
 13,
 1,
 4,
 30,
 8,
 12,
 24,
 30,
 21,
 14,
 30,
 21,
 5,
 10,
 12,
 26,
 7,
 11,
 14,
 30,
 9,
 12,
 22,
 15,
 6,
 9,
 8,
 12,
 5,
 16,
 0,
 12,
 28,
 20,
 27,
 1,
 11,
 12,
 3,
 6,
 10,
 22,
 0,
 8,
 21,
 12,
 21,
 11,
 11,
 9,
 23,
 28,
 11,
 1,
 3,
 1,
 3,
 26,
 3,
 1,
 10,
 14,
 8,
 19,
 12,
 29,
 4,
 4,
 9,
 4,
 7,
 14,
 12,
 27,
 14,
 15,
 23,
 2]

In [3]:
unique_number_list = list(set(list_1))
unique_number_list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

### Exercise 7

In [4]:
set1 = {"Apple", "Orange", "Banana"}
set2 = {"Pear", "Peach", "Mango", "Banana"}

In [5]:
set1

{'Apple', 'Banana', 'Orange'}

In [6]:
set2

{'Banana', 'Mango', 'Peach', 'Pear'}

In [7]:
set1 | set2

{'Apple', 'Banana', 'Mango', 'Orange', 'Peach', 'Pear'}

In [8]:
set1 & set2

{'Banana'}

### Exercise 8

In [9]:
my_null_set = set({})

In [10]:
type(my_null_set)

set

In [11]:
my_null_set = {}
type(my_null_set)

dict