Select Hospital Data - https://healthdata.gov/Hospital/COVID-19-Reported-Patient-Impact-and-Hospital-Capa/anag-cw7u

CDC De-identified individual cases - 9gb File!: https://data.cdc.gov/Case-Surveillance/COVID-19-Case-Surveillance-Public-Use-Data-with-Ge/n8mc-b4w4

# Download and Build Combined COVID Datasets #
This process takes roughly 40 minutes to complete.

### DataSets ###
**John's Hopkins COVID Cases:** https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv

**John's Hopkins COVID Deaths:** https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv 

**CDC U.S. Vaccine Data:** https://data.cdc.gov/api/views/unsk-b7fc/rows.csv?accessType=DOWNLOAD

**CDC County Vaccine Data:** https://data.cdc.gov/api/views/8xkx-amqh/rows.csv?accessType=DOWNLOAD

**State Hospitalization Data:** https://healthdata.gov/api/views/g62h-syeh/rows.csv?accessType=DOWNLOAD

In [1]:
import pandas as pd
import requests
import numpy as np
import matplotlib.pyplot as plt
import time

from importlib import reload #//*** Reload library reloads an external python File.

#//*** Use the whole window in the IPYNB editor
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
from IPython.display import clear_output

from datetime import datetime
from pathlib import Path
import os


pd.set_option('display.max_colwidth', None)
pd.options.display.max_columns = 100
pd.options.display.max_rows = 100

#//*** Custom Functions outboarded here for Brevity
import process_covid


data_folder_name = "raw_data"
#//***  Raw and Processed Filenames
confirmed_data_filename = "z_us_confirmed.csv"
death_data_filename =  "z_us_death_cases.csv"
county_daily_df_filename = "z_county_daily_df.csv.zip"
aggregate_hospital_filename = "z_county_hospital_aggregate.csv.zip"
combined_daily_casevax_filename = "z_county_daily_casevax.csv.zip"
weekly_combined_filename = "z_county_weekly_df.csv.zip"

#//*** Weekly Combined Cases,Deaths, Vaccines, Hospital
weekly_combined_cdvh_df_filename = "z_county_weekly_combined_cdvh_df.csv.zip"

In [4]:

reload(process_covid)


#//******************************************************
#//*** Begin Full Download and Data set Processing
#//******************************************************

start_time = time.time()
#//***************************************************************************************************
#//*** Download Latest Data - Updates Daily for Confirmed And Deaths
#//***************************************************************************************************
pc = process_covid.download_data()

print(f"Data Downloaded: {int(time.time() - start_time)}s")

#//*** Merge County Level Cases and Deaths. Converts Column based Days to Row based Days.
process_covid.build_county_case_death(
    folder = data_folder_name,
    confirm = confirmed_data_filename,
    death = death_data_filename,
    export = county_daily_df_filename,
)

print(f"Total Elapsed Time: {int(time.time() - start_time)}s")

#//***************************************************************************************************
#//*** Build Weekly Aggregated hospital Values. Sum all hospital stats for each county by Week
#//*** Exports to File
#//***************************************************************************************************
#//*** 4 - 5 Minute Process!
#//***************************************************************************************************
#//*** Load Raw Hospital Data
raw_hosp_df = process_covid.load_data(filename="z_county_hospital.csv.zip")

#//*** Columns to Display
disp_cols = ['collection_week', 'fips_code','state', 'total_beds_7_day_avg','inpatient_beds_7_day_avg','inpatient_beds_used_7_day_avg', 'inpatient_beds_used_covid_7_day_avg', 'total_icu_beds_7_day_avg', 'icu_beds_used_7_day_avg','staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_avg']

#//*** Descriptive Classification Columns: Will take a single value
base_cols = ['collection_week', "fips_code",'state']

#//*** Columns to Process, ie sum 
process_cols = ['total_beds_7_day_avg','inpatient_beds_7_day_avg','inpatient_beds_used_7_day_avg', 'inpatient_beds_used_covid_7_day_avg', 'total_icu_beds_7_day_avg', 'icu_beds_used_7_day_avg','staffed_icu_adult_patients_confirmed_and_suspected_covid_7_day_avg']


#//***************************************************************************************************
#//*** Aggregate (sum) Raw Hospital Data
#//*** Combine all Hospitals in each county on a given day.
#//***************************************************************************************************
process_covid.aggregate_columns(raw_hosp_df,
    by = "fips_code", #//*** All Granular Values to sum. All Hospitals in a County
    date_col = 'collection_week', #//*** Date Column 
    method = 'sum', #//*** Add Columns
    base_cols = base_cols, #//** Descriptive Columns
    process_cols = process_cols, #//*** Columns to Sum
    disp_cols = disp_cols, #//*** Columns to Display
    folder="raw_data",
    export=aggregate_hospital_filename, #//*** Filename to export DataFrame Too
)
print(f"Total Elapsed Time: {int(time.time() - start_time)}s")


#//***************************************************************************************************
#//*** Merge Cases & Deaths with Vaccines
#//*** Daily Interval, by County
#//***************************************************************************************************

#//*** Load Vaccine Data. County Level, Daily Interval
county_vax_df = process_covid.load_data(action="county_vaccine")
display(county_vax_df)

#//*** Load Confirmed Cases and Deaths
county_daily_df = process_covid.load_data(file=county_daily_df_filename, min_date=county_vax_df['Date'].min())
county_daily_df = county_daily_df[county_daily_df["Population"] > 0]
display(county_daily_df)

#//*** Merge Daily Cases
process_covid.merge_df(county_vax_df,county_daily_df,by="Date",left_col="FIPS",right_col="FIPS",export=combined_daily_casevax_filename)

#//***************************************************************************************************
#//*** Convert Combined Cases & Deaths & Vaccines
#//*** To Weekly Interval from Daily
#//*** by County 
#//***************************************************************************************************

#//*** Load the Combined Daily Cases and Vaccinations by County
daily_casevax_df = process_covid.load_data(filename=combined_daily_casevax_filename)

    #//************************************************************
    #//*** Load aggregated (summed by county) Hospital Data
    #//************************************************************

#//*** Load Weekly Aggregated Hospital by County
week_hosp_df = process_covid.load_data(filename=aggregate_hospital_filename)


#//*** Convert county daily to weekly interval
#//*** 10 Minute Build
process_covid.create_weekly_data(daily_casevax_df,export=weekly_combined_filename,dates=week_hosp_df['collection_week'].unique() )

#//***************************************************************************************************
#//*** Combine Aggregated Hospital Data with Weekly Cases & Deaths & Vaccines
#//*** Weekly Interval
#//*** By County
#//***************************************************************************************************

#//*** Load Weekly Case Death Vax by County
casevax_weekly_df = process_covid.load_data(filename=weekly_combined_filename)



#//*** Convert collection_week to datetime
week_hosp_df["collection_week"] = pd.to_datetime(week_hosp_df["collection_week"])

#//*** Rename columns: collection_week --> Date
week_hosp_df.columns = ['Date' if item == 'collection_week' else item for item in week_hosp_df.columns]
#//*** Rename columns: fips_code --> FIPS
week_hosp_df.columns = ['FIPS' if item == 'fips_code' else item for item in week_hosp_df.columns]

#//*** Merge Hospital and Case Death Vax Dataframes
process_covid.merge_df(casevax_weekly_df, #//*** Left Df
                       week_hosp_df,      #//*** Right DF
                       by="Date",         #//*** Aggregate using By Column (should always be a date column since this is a timeseries)
                       left_col="FIPS",   #//*** Left Col to Merge
                       right_col="FIPS",  #//*** Right Col to Merge
                       remove_cols = ['Recip_County'], #//*** Remove these columns for tidiness
                       export=weekly_combined_cdvh_df_filename)


print(f"DONE! Total Elapsed Time: {int(time.time() - start_time)}s")

Elapsed Time: 1s
Exporting DataFrame to Disk.
DONE! Total Elapsed Time: 1260s

## Code Below is Designed to fail. Want to preserve the Notebook Output ##

In [71]:
del fail
fail

NameError: name 'fail' is not defined

In [13]:
if False:
    #//*** The original dataset is 9gb and comprises 69 million rows.
    #//*** The data has been split into separate dataframes by state, compressed and pickled.
    #//*** Process patient impact parses those files, and sum s
    reload(process_covid)


    pc = process_covid.process_covid()

    #//*** Build aggregated Dataframe from the original split dataset
    df = pc.process_patient_impact(

        #//*** Names of the Columns to Keep 
        base_cols = ["case_month","res_state","state_fips_code","res_county","county_fips_code"],

        #//*** Columns to Process (Sum)
        process_cols = ['hosp_yn','icu_yn','death_yn','underlying_conditions_yn'],

        #//*** Rename columns using a tuple
        rename_cols = [('hosp_yn','hosp'),('icu_yn','icu'),('death_yn','death'),('underlying_conditions_yn','uc')],
    )
    df.to_pickle(f"./raw_data/summed_outcomes.pkl.zip")

Processing: AK_covid_people.pkl.zip
Loaded:  236740  records Current Record Size: 0
Processing: AL_covid_people.pkl.zip
Loaded:  1282352  records Current Record Size: 121
Processing: AR_covid_people.pkl.zip
Loaded:  827425  records Current Record Size: 1258
Processing: AZ_covid_people.pkl.zip
Loaded:  2006278  records Current Record Size: 2051
Processing: CA_covid_people.pkl.zip
Loaded:  9075259  records Current Record Size: 2376
Processing: CO_covid_people.pkl.zip
Loaded:  1342246  records Current Record Size: 3610
Processing: CT_covid_people.pkl.zip
Loaded:  454782  records Current Record Size: 4247
Processing: DC_covid_people.pkl.zip
Loaded:  135200  records Current Record Size: 4435
Processing: DE_covid_people.pkl.zip
Loaded:  253320  records Current Record Size: 4435
Processing: FL_covid_people.pkl.zip
Loaded:  3789392  records Current Record Size: 4510
Processing: GA_covid_people.pkl.zip
Loaded:  2083181  records Current Record Size: 5859
Processing: GU_covid_people.pkl.zip
Loaded:  32736  records Current Record Size: 8028
Processing: HI_covid_people.pkl.zip
Loaded:  132644  records Current Record Size: 8028
Processing: IA_covid_people.pkl.zip
Loaded:  503470  records Current Record Size: 8102
Processing: ID_covid_people.pkl.zip
Loaded:  443807  records Current Record Size: 8743
Processing: IL_covid_people.pkl.zip
Loaded:  3069069  records Current Record Size: 9168
Processing: IN_covid_people.pkl.zip
Loaded:  1715996  records Current Record Size: 10540
Processing: KS_covid_people.pkl.zip
Loaded:  775650  records Current Record Size: 12293
Processing: KY_covid_people.pkl.zip
Loaded:  923167  records Current Record Size: 12905
Processing: LA_covid_people.pkl.zip
Loaded:  1169234  records Current Record Size: 14134
Processing: MA_covid_people.pkl.zip
Loaded:  1701724  records Current Record Size: 15281
Processing: MD_covid_people.pkl.zip
Loaded:  715732  records Current Record Size: 15592
Processing: ME_covid_people.pkl.zip
Loaded:  231090  records Current Record Size: 16133
Processing: MI_covid_people.pkl.zip
Loaded:  1598673  records Current Record Size: 16438
Processing: MN_covid_people.pkl.zip
Loaded:  1427734  records Current Record Size: 17947
Processing: MO_covid_people.pkl.zip
Loaded:  1413851  records Current Record Size: 19088
Processing: MS_covid_people.pkl.zip
Loaded:  59799  records Current Record Size: 20275
Processing: MT_covid_people.pkl.zip
Loaded:  249762  records Current Record Size: 20373
Processing: NC_covid_people.pkl.zip
Loaded:  2629028  records Current Record Size: 20580
Processing: ND_covid_people.pkl.zip
Loaded:  239611  records Current Record Size: 22555
Processing: NE_covid_people.pkl.zip
Loaded:  289242  records Current Record Size: 22746
Processing: NH_covid_people.pkl.zip
Loaded:  95514  records Current Record Size: 23112
Processing: NJ_covid_people.pkl.zip
Loaded:  2245143  records Current Record Size: 23298
Processing: NM_covid_people.pkl.zip
Loaded:  500517  records Current Record Size: 23840
Processing: NV_covid_people.pkl.zip
Loaded:  633570  records Current Record Size: 24271
Processing: NY_covid_people.pkl.zip
Loaded:  4965475  records Current Record Size: 24461
Processing: OH_covid_people.pkl.zip
Loaded:  2675880  records Current Record Size: 25950
Processing: OK_covid_people.pkl.zip
Loaded:  666468  records Current Record Size: 27936
Processing: OR_covid_people.pkl.zip
Loaded:  703008  records Current Record Size: 28764
Processing: PA_covid_people.pkl.zip
Loaded:  2777882  records Current Record Size: 29399
Processing: PR_covid_people.pkl.zip
Loaded:  74756  records Current Record Size: 30879
Processing: RI_covid_people.pkl.zip
Loaded:  206571  records Current Record Size: 30879
Processing: SC_covid_people.pkl.zip
Loaded:  1488481  records Current Record Size: 30972
Processing: SD_covid_people.pkl.zip
Loaded:  218328  records Current Record Size: 31962
Processing: TN_covid_people.pkl.zip
Loaded:  1992915  records Current Record Size: 32174
Processing: TX_covid_people.pkl.zip
Loaded:  4071398  records Current Record Size: 33754
Processing: UT_covid_people.pkl.zip
Loaded:  930187  records Current Record Size: 36046
Processing: VA_covid_people.pkl.zip
Loaded:  1613423  records Current Record Size: 36407
Processing: VI_covid_people.pkl.zip
Loaded:  14668  records Current Record Size: 38259
Processing: VT_covid_people.pkl.zip
Loaded:  98802  records Current Record Size: 38259
Processing: WA_covid_people.pkl.zip
Loaded:  1451340  records Current Record Size: 38496
Processing: WI_covid_people.pkl.zip
Loaded:  1264753  records Current Record Size: 39217
Processing: WV_covid_people.pkl.zip
Loaded:  10563  records Current Record Size: 40469
Processing: WY_covid_people.pkl.zip
Loaded:  156150  records Current Record Size: 40477
Elapsed Time: 723s

In [115]:
#//*** Aggregate Combined Data
reload(process_covid)

#//*** Run as Needed takes 4minutes to Process
if False:
    #//*** Load County Level Daily Cases and Deaths
    combined_df = process_covid.load_data(file=county_daily_df_filename )
    
    #//*** Aggregate Each County into Monthly Data, save results to a File
    process_covid.create_monthly_data(combined_df,export="z_county_monthly_df.csv.zip")

In [83]:
#//*** Load and combine Summed Outcomes and Monthly Data: Obsolete Since the Monthly Data is inaccurate for Hospitalization numbers
reload(process_covid)
#//*** Load Monthly Summed outcomes - Built from Individual Ethno - demographics values
outcomes_df = process_covid.load_data(filename="summed_outcomes.pkl.zip")

#//*** Load Cases and Deaths Aggregated to Monthly data
monthly_df = process_covid.load_data(filename="z_county_monthly_df.csv.zip",trim_first_date=True,trim_last_date=True)


#//*** Rename Case_month to Date
outcomes_df.columns = ["Date" if item == "case_month" else item for item in list(outcomes_df.columns)]
outcomes_df = outcomes_df[['Date','county_fips_code','case_count','hosp','icu','death','uc']]

#//*** Merge Monthly Cases with Monthly Ethno-Demographic Hospital Data
df = process_covid.merge_df(outcomes_df,monthly_df,by="Date",left_col="county_fips_code", right_col="FIPS")
del df['county_fips_code']
df



print(df['New_Confirm'].sum(),df['case_count'].sum(),(df['case_count'].sum()/ df['New_Confirm'].sum()))

cor_cols = ['hosp','icu','total_vaccinated_percent','total_vaccinated_count','tot_confirm','tot_deaths']
disp_cols = ['Date', 'Combined_Key','Population', 'total_vaccinated_percent', 'total_vaccinated_count', 'tot_confirm', 'tot_deaths', 'New_Confirm', 'hosp','icu','New_Deaths','death', 'case_count']  
         
#'Recip_County', 'FIPS', 'Recip_State' New_Confirm_100k','New_Confirm_avg_daily_100k', 'New_Deaths_100k','New_Deaths_avg_daily_100k'
ca_df = df [df['Recip_State'] == "CA"]
#ca_df = df [df['FIPS'] == 6037]
#tdf = ca_df[ca_df['Date'] == ca_df['Date'].max()].sort_values('New_Deaths_avg_daily_100k',ascending=False)[cor_cols]
#print(ca_df.columns)

#//*** Print Everything to watch it not work
for group in ca_df.groupby("FIPS"):
    display(group[1][disp_cols])
    print(group[1]['New_Confirm'].sum(),group[1]['case_count'].sum())

Elapsed Time: 0s
53652565.0 47178626 0.879335890092114

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
92,2021-01-01,"Alameda, California, US",1671329,1.6,26113.0,75589,857,22040.0,606,88,297.0,215,19636
92,2021-02-01,"Alameda, California, US",1671329,6.7,112261.0,82473,1105,6884.0,251,41,251.0,0,5687
92,2021-03-01,"Alameda, California, US",1671329,21.1,351983.0,85291,1215,2818.0,168,24,126.0,0,2972
92,2021-04-01,"Alameda, California, US",1671329,37.1,620327.0,88519,1268,3228.0,143,19,56.0,0,2825
92,2021-05-01,"Alameda, California, US",1671329,54.7,913490.0,90431,1253,1914.0,76,6,48.0,0,1590
90,2021-06-01,"Alameda, California, US",1671329,61.8,1033606.0,91609,1256,1294.0,99,9,39.0,0,1590
92,2021-07-01,"Alameda, California, US",1671329,64.6,1079631.0,97526,1265,5917.0,267,33,16.0,0,8562
92,2021-08-01,"Alameda, California, US",1671329,67.1,1122148.0,111394,1297,13868.0,273,18,32.0,0,12467
92,2021-09-01,"Alameda, California, US",1671329,69.4,1160240.0,117874,1343,6480.0,162,17,46.0,0,5866
92,2021-10-01,"Alameda, California, US",1671329,71.2,1190559.0,121888,1419,4014.0,109,12,92.0,0,3714
93,2021-11-01,"Alameda, California, US",1671329,72.7,1215197.0,125157,1504,3269.0,86,22,99.0,0,3750
93,2021-12-01,"Alameda, California, US",1671329,77.2,1289577.0,137679,1544,12522.0,150,15,57.0,0,23469
93,2022-01-01,"Alameda, California, US",1671329,79.8,1332888.0,245399,1607,107720.0,366,37,91.0,81,102154
93,2022-02-01,"Alameda, California, US",1671329,81.1,1355195.0,265392,1744,19993.0,117,11,137.0,0,13744
92,2022-03-01,"Alameda, California, US",1671329,81.7,1365623.0,269963,1812,4571.0,35,2,74.0,0.0,2586

216532.0 210612

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
93,2021-01-01,"Amador, California, US",39752,1.3,532.0,3237,32,724.0,20,6,8.0,0,585
93,2021-02-01,"Amador, California, US",39752,6.1,2431.0,3496,42,259.0,9,3,11.0,0,195
93,2021-03-01,"Amador, California, US",39752,16.8,6668.0,3588,45,92.0,8,2,3.0,0,105
93,2021-04-01,"Amador, California, US",39752,26.8,10640.0,3683,46,95.0,0,0,1.0,0,59
93,2021-05-01,"Amador, California, US",39752,34.8,13836.0,3720,46,38.0,4,0,0.0,0,42
91,2021-06-01,"Amador, California, US",39752,37.7,14972.0,3789,46,69.0,4,2,0.0,0,71
93,2021-07-01,"Amador, California, US",39752,39.8,15817.0,3911,48,122.0,23,6,2.0,0,224
93,2021-08-01,"Amador, California, US",39752,41.9,16657.0,4598,53,687.0,38,7,5.0,0,667
93,2021-09-01,"Amador, California, US",39752,46.9,18645.0,5157,61,559.0,26,8,8.0,0,571
93,2021-10-01,"Amador, California, US",39752,49.3,19596.0,5579,64,422.0,17,3,3.0,0,373
94,2021-11-01,"Amador, California, US",39752,51.2,20356.0,5785,66,206.0,10,4,2.0,0,191
94,2021-12-01,"Amador, California, US",39752,52.5,20871.0,6001,70,216.0,20,5,4.0,0,317
94,2022-01-01,"Amador, California, US",39752,51.8,20594.0,8221,73,2228.0,51,5,4.0,0,2330
94,2022-02-01,"Amador, California, US",39752,52.6,20898.0,8947,83,729.0,17,3,12.0,0,524
93,2022-03-01,"Amador, California, US",39752,52.9,21029.0,9131,86,184.0,3,2,3.0,0.0,117

6630.0 6371

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
94,2021-01-01,"Butte, California, US",219186,2.2,4867.0,11716,140,3351.0,113,16,35.0,12,2982
94,2021-02-01,"Butte, California, US",219186,9.2,20233.0,12590,180,874.0,38,3,40.0,0,722
94,2021-03-01,"Butte, California, US",219186,17.4,38245.0,13000,193,410.0,30,3,15.0,0,389
94,2021-04-01,"Butte, California, US",219186,28.9,63342.0,13580,197,580.0,29,5,4.0,0,576
94,2021-05-01,"Butte, California, US",219186,34.6,75804.0,14259,193,679.0,36,6,7.0,0,455
92,2021-06-01,"Butte, California, US",219186,38.3,83915.0,14554,201,327.0,25,3,8.0,0,285
94,2021-07-01,"Butte, California, US",219186,40.3,88431.0,15283,205,729.0,72,12,4.0,0,985
94,2021-08-01,"Butte, California, US",219186,42.8,93706.0,18713,216,3430.0,239,37,12.0,23,3677
94,2021-09-01,"Butte, California, US",219186,45.3,99380.0,22389,243,3676.0,161,21,29.0,28,3439
94,2021-10-01,"Butte, California, US",219186,47.4,103945.0,24448,277,2059.0,48,4,34.0,0,1874
95,2021-11-01,"Butte, California, US",219186,48.8,106907.0,25484,314,1036.0,51,4,38.0,0,1041
95,2021-12-01,"Butte, California, US",219186,50.4,110553.0,26662,341,1178.0,48,3,27.0,0,1785
95,2022-01-01,"Butte, California, US",219186,52.2,114408.0,36498,354,9836.0,35,2,18.0,0,9583
95,2022-02-01,"Butte, California, US",219186,53.0,116134.0,39111,368,2613.0,10,1,14.0,0,2112
94,2022-03-01,"Butte, California, US",219186,53.4,117081.0,39647,396,536.0,1,0,28.0,0.0,313

31314.0 30218

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
95,2021-01-01,"Calaveras, California, US",45905,1.6,730.0,1789,21,625.0,4,0,0.0,0,556
95,2021-02-01,"Calaveras, California, US",45905,7.4,3395.0,1893,46,124.0,1,0,25.0,0,120
95,2021-03-01,"Calaveras, California, US",45905,17.7,8147.0,2017,50,125.0,6,1,4.0,0,92
95,2021-04-01,"Calaveras, California, US",45905,26.5,12183.0,2101,50,88.0,3,0,0.0,0,82
95,2021-05-01,"Calaveras, California, US",45905,34.6,15873.0,2185,55,84.0,0,0,5.0,0,77
93,2021-06-01,"Calaveras, California, US",45905,37.6,17277.0,2212,55,35.0,2,1,0.0,0,39
95,2021-07-01,"Calaveras, California, US",45905,39.5,18117.0,2310,57,98.0,3,0,2.0,0,189
95,2021-08-01,"Calaveras, California, US",45905,42.0,19269.0,3028,59,718.0,6,0,2.0,0,696
95,2021-09-01,"Calaveras, California, US",45905,51.7,23712.0,3629,72,601.0,3,0,13.0,0,588
95,2021-10-01,"Calaveras, California, US",45905,55.8,25610.0,4106,82,477.0,21,1,11.0,0,425
96,2021-11-01,"Calaveras, California, US",45905,58.7,26927.0,4422,88,316.0,15,4,7.0,0,350
96,2021-12-01,"Calaveras, California, US",45905,60.4,27723.0,4740,93,318.0,11,1,5.0,0,374
96,2022-01-01,"Calaveras, California, US",45905,52.5,24097.0,6993,96,2259.0,41,3,6.0,0,2267
96,2022-02-01,"Calaveras, California, US",45905,53.5,24569.0,7569,110,576.0,19,4,14.0,0,406
95,2022-03-01,"Calaveras, California, US",45905,53.8,24682.0,7612,119,67.0,0,0,11.0,0.0,54

6511.0 6315

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
96,2021-01-01,"Colusa, California, US",21547,0.0,0.0,1965,9,567.0,20,6,2.0,0,507
96,2021-02-01,"Colusa, California, US",21547,3.7,795.0,2136,11,171.0,8,0,2.0,0,152
96,2021-03-01,"Colusa, California, US",21547,12.6,2718.0,2165,14,31.0,1,0,3.0,0,26
96,2021-04-01,"Colusa, California, US",21547,24.6,5291.0,2224,14,59.0,7,1,0.0,0,53
96,2021-05-01,"Colusa, California, US",21547,34.5,7424.0,2270,15,47.0,6,0,1.0,0,47
94,2021-06-01,"Colusa, California, US",21547,38.8,8368.0,2288,15,25.0,3,0,0.0,0,26
96,2021-07-01,"Colusa, California, US",21547,42.0,9046.0,2363,16,78.0,6,1,1.0,0,109
96,2021-08-01,"Colusa, California, US",21547,45.6,9835.0,2778,16,415.0,41,1,1.0,0,415
96,2021-09-01,"Colusa, California, US",21547,49.4,10640.0,2968,18,190.0,13,0,2.0,0,171
96,2021-10-01,"Colusa, California, US",21547,51.7,11139.0,3134,19,166.0,7,0,1.0,0,158
97,2021-11-01,"Colusa, California, US",21547,53.4,11499.0,3272,20,138.0,10,0,3.0,0,145
97,2021-12-01,"Colusa, California, US",21547,55.6,11975.0,3397,21,126.0,2,0,2.0,0,141
97,2022-01-01,"Colusa, California, US",21547,58.4,12577.0,4192,21,795.0,2,0,0.0,0,825
97,2022-02-01,"Colusa, California, US",21547,59.7,12854.0,4494,21,302.0,3,0,0.0,0,218
96,2022-03-01,"Colusa, California, US",21547,60.5,13029.0,4525,21,33.0,2,0,1.0,0.0,25

3143.0 3018

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
97,2021-01-01,"Contra Costa, California, US",1153526,1.9,22375.0,58074,531,16917.0,1333,125,195.0,97,15410
97,2021-02-01,"Contra Costa, California, US",1153526,9.0,103607.0,63467,694,5393.0,458,38,166.0,0,4637
97,2021-03-01,"Contra Costa, California, US",1153526,21.4,246689.0,66259,769,2792.0,260,23,101.0,0,2647
97,2021-04-01,"Contra Costa, California, US",1153526,40.1,462518.0,68914,800,2655.0,254,28,32.0,0,2369
97,2021-05-01,"Contra Costa, California, US",1153526,54.9,632868.0,70683,813,1769.0,204,23,19.0,0,1628
95,2021-06-01,"Contra Costa, California, US",1153526,61.1,704713.0,72210,818,1557.0,185,24,19.0,0,1584
97,2021-07-01,"Contra Costa, California, US",1153526,63.7,734862.0,77417,832,5207.0,524,93,14.0,0,7411
97,2021-08-01,"Contra Costa, California, US",1153526,66.5,766848.0,91358,871,13941.0,827,137,40.0,48,12614
97,2021-09-01,"Contra Costa, California, US",1153526,69.2,797933.0,97395,933,6037.0,356,60,62.0,0,5484
97,2021-10-01,"Contra Costa, California, US",1153526,71.7,826584.0,101135,1024,3740.0,172,35,91.0,0,3411
98,2021-11-01,"Contra Costa, California, US",1153526,73.3,845111.0,103886,1046,2751.0,119,13,22.0,0,3043
98,2021-12-01,"Contra Costa, California, US",1153526,77.1,889092.0,112916,1073,9030.0,299,34,28.0,0,16895
98,2022-01-01,"Contra Costa, California, US",1153526,79.6,918142.0,185208,1102,72292.0,1454,179,34.0,51,67773
98,2022-02-01,"Contra Costa, California, US",1153526,80.8,932227.0,198310,1230,13102.0,403,57,130.0,0,9934
97,2022-03-01,"Contra Costa, California, US",1153526,81.3,938257.0,202016,1291,3706.0,70,5,62.0,0.0,1714

160889.0 156554

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
98,2021-01-01,"Del Norte, California, US",27812,0.7,208.0,869,2,119.0,3,1,0.0,0,101
98,2021-02-01,"Del Norte, California, US",27812,3.8,1063.0,986,5,117.0,4,0,3.0,0,119
98,2021-03-01,"Del Norte, California, US",27812,10.6,2938.0,1140,6,154.0,1,1,1.0,0,190
98,2021-04-01,"Del Norte, California, US",27812,19.9,5521.0,1287,6,147.0,0,0,0.0,0,121
98,2021-05-01,"Del Norte, California, US",27812,25.4,7053.0,1407,8,120.0,1,0,2.0,0,83
96,2021-06-01,"Del Norte, California, US",27812,28.4,7886.0,1448,8,43.0,3,2,0.0,0,49
98,2021-07-01,"Del Norte, California, US",27812,29.9,8309.0,1590,8,143.0,14,2,0.0,0,275
98,2021-08-01,"Del Norte, California, US",27812,32.1,8937.0,2848,19,1258.0,30,11,11.0,0,1308
98,2021-09-01,"Del Norte, California, US",27812,35.3,9831.0,3503,39,659.0,19,7,20.0,0,523
98,2021-10-01,"Del Norte, California, US",27812,37.4,10406.0,3645,42,142.0,4,0,3.0,0,147
99,2021-11-01,"Del Norte, California, US",27812,38.6,10733.0,3774,42,129.0,1,0,0.0,0,95
99,2021-12-01,"Del Norte, California, US",27812,40.3,11218.0,3903,43,147.0,1,0,1.0,0,121
99,2022-01-01,"Del Norte, California, US",27812,41.9,11642.0,5015,43,1129.0,23,6,0.0,0,1172
99,2022-02-01,"Del Norte, California, US",27812,42.5,11832.0,5882,45,867.0,21,5,2.0,0,774
98,2022-03-01,"Del Norte, California, US",27812,43.0,11955.0,6009,50,159.0,5,0,5.0,0.0,109

5333.0 5187

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
99,2021-01-01,"El Dorado, California, US",192843,1.5,2975.0,8880,83,2881.0,53,8,57.0,12,2119
99,2021-02-01,"El Dorado, California, US",192843,7.9,15277.0,9677,98,797.0,20,7,15.0,0,570
99,2021-03-01,"El Dorado, California, US",192843,17.9,34480.0,10012,106,335.0,13,3,9.0,0,356
99,2021-04-01,"El Dorado, California, US",192843,31.2,60194.0,10608,110,596.0,17,1,4.0,0,611
99,2021-05-01,"El Dorado, California, US",192843,41.2,79468.0,11002,110,394.0,15,3,4.0,0,313
97,2021-06-01,"El Dorado, California, US",192843,47.6,91755.0,11194,113,207.0,12,5,5.0,0,245
99,2021-07-01,"El Dorado, California, US",192843,49.8,96088.0,11907,116,713.0,57,20,3.0,0,1025
99,2021-08-01,"El Dorado, California, US",192843,52.3,100909.0,14801,119,2894.0,76,32,4.0,12,2806
99,2021-09-01,"El Dorado, California, US",192843,54.6,105354.0,16445,136,1644.0,35,10,17.0,0,1574
99,2021-10-01,"El Dorado, California, US",192843,56.4,108728.0,17526,154,1081.0,60,20,19.0,0,1036
100,2021-11-01,"El Dorado, California, US",192843,57.7,111271.0,18329,166,803.0,29,10,13.0,0,841
100,2021-12-01,"El Dorado, California, US",192843,59.8,115273.0,19577,172,1248.0,44,20,6.0,0,1962
100,2022-01-01,"El Dorado, California, US",192843,61.2,117967.0,27535,184,7958.0,39,9,13.0,0,7976
100,2022-02-01,"El Dorado, California, US",192843,62.0,119555.0,29587,191,2052.0,35,6,7.0,0,1155
99,2022-03-01,"El Dorado, California, US",192843,62.4,120250.0,29949,200,372.0,8,0,9.0,0.0,178

23975.0 22767

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
100,2021-01-01,"Fresno, California, US",999101,1.4,13607.0,95912,994,24366.0,688,79,283.0,264,20571
100,2021-02-01,"Fresno, California, US",999101,6.1,61184.0,103311,1405,7399.0,257,26,411.0,46,5679
100,2021-03-01,"Fresno, California, US",999101,14.4,144269.0,107555,1616,4244.0,174,19,211.0,0,3908
100,2021-04-01,"Fresno, California, US",999101,28.0,279738.0,109862,1670,2307.0,108,10,54.0,0,2007
100,2021-05-01,"Fresno, California, US",999101,35.4,353536.0,111255,1706,1393.0,63,5,40.0,0,1260
98,2021-06-01,"Fresno, California, US",999101,40.2,401678.0,111313,1727,713.0,47,4,24.0,0,785
100,2021-07-01,"Fresno, California, US",999101,42.8,427308.0,113880,1744,2567.0,177,39,22.0,0,3858
100,2021-08-01,"Fresno, California, US",999101,45.9,458093.0,127764,1801,13884.0,402,128,59.0,94,13967
100,2021-09-01,"Fresno, California, US",999101,49.4,493336.0,140171,1964,12407.0,249,75,165.0,42,11967
100,2021-10-01,"Fresno, California, US",999101,52.1,521019.0,150779,2131,10608.0,189,47,167.0,33,10101
101,2021-11-01,"Fresno, California, US",999101,54.0,539906.0,157461,2254,6682.0,57,8,123.0,27,6485
101,2021-12-01,"Fresno, California, US",999101,56.8,567657.0,163739,2379,6278.0,34,2,126.0,0,9278
101,2022-01-01,"Fresno, California, US",999101,58.7,586375.0,231600,2463,67861.0,22,0,90.0,129,67244
101,2022-02-01,"Fresno, California, US",999101,60.1,600026.0,249337,2621,17737.0,15,0,160.0,0,15184
100,2022-03-01,"Fresno, California, US",999101,60.8,607414.0,253656,2720,4319.0,0,0,100.0,0.0,1800

182765.0 174094

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
101,2021-01-01,"Glenn, California, US",28393,1.4,400.0,2531,14,752.0,22,1,5.0,0,593
101,2021-02-01,"Glenn, California, US",28393,6.5,1845.0,2727,15,196.0,15,1,1.0,0,177
101,2021-03-01,"Glenn, California, US",28393,15.1,4292.0,2850,17,123.0,1,0,2.0,0,130
101,2021-04-01,"Glenn, California, US",28393,26.3,7481.0,2911,17,61.0,1,0,0.0,0,46
101,2021-05-01,"Glenn, California, US",28393,33.0,9372.0,2987,18,76.0,8,1,1.0,0,68
99,2021-06-01,"Glenn, California, US",28393,36.6,10394.0,3014,20,31.0,3,0,2.0,0,27
101,2021-07-01,"Glenn, California, US",28393,39.5,11225.0,3061,20,51.0,6,0,0.0,0,87
101,2021-08-01,"Glenn, California, US",28393,42.2,11979.0,3612,20,551.0,20,6,0.0,0,590
101,2021-09-01,"Glenn, California, US",28393,45.4,12889.0,4154,26,542.0,23,6,6.0,0,501
101,2021-10-01,"Glenn, California, US",28393,47.9,13589.0,4442,33,288.0,9,0,7.0,0,268
102,2021-11-01,"Glenn, California, US",28393,49.4,14040.0,4567,36,125.0,8,0,3.0,0,123
102,2021-12-01,"Glenn, California, US",28393,51.3,14565.0,4717,39,150.0,11,0,3.0,0,181
102,2022-01-01,"Glenn, California, US",28393,53.4,15159.0,6101,39,1384.0,5,1,0.0,0,1388
102,2022-02-01,"Glenn, California, US",28393,54.4,15453.0,6478,40,377.0,3,0,1.0,0,318
101,2022-03-01,"Glenn, California, US",28393,55.1,15645.0,6558,47,81.0,2,0,7.0,0.0,42

4788.0 4539

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
102,2021-01-01,"Humboldt, California, US",135558,1.4,1920.0,2784,25,1065.0,30,14,4.0,0,942
102,2021-02-01,"Humboldt, California, US",135558,7.9,10760.0,3200,30,420.0,10,2,5.0,0,327
102,2021-03-01,"Humboldt, California, US",135558,18.2,24700.0,3484,35,285.0,11,7,6.0,0,281
102,2021-04-01,"Humboldt, California, US",135558,30.0,40684.0,3864,36,380.0,29,15,1.0,0,401
102,2021-05-01,"Humboldt, California, US",135558,42.5,57572.0,4332,42,468.0,26,8,6.0,0,449
100,2021-06-01,"Humboldt, California, US",135558,48.4,65568.0,4571,49,244.0,23,8,7.0,0,253
102,2021-07-01,"Humboldt, California, US",135558,51.0,69092.0,5059,52,488.0,43,14,3.0,0,822
102,2021-08-01,"Humboldt, California, US",135558,53.6,72704.0,7296,52,2237.0,97,40,1.0,0,2114
102,2021-09-01,"Humboldt, California, US",135558,56.4,76495.0,8678,94,1382.0,51,15,42.0,0,1291
102,2021-10-01,"Humboldt, California, US",135558,58.4,79139.0,9477,112,799.0,25,6,18.0,0,729
103,2021-11-01,"Humboldt, California, US",135558,59.8,81024.0,10213,119,736.0,25,8,7.0,0,758
103,2021-12-01,"Humboldt, California, US",135558,62.4,84637.0,11265,122,1052.0,24,9,3.0,0,1559
103,2022-01-01,"Humboldt, California, US",135558,64.2,86983.0,17791,130,6526.0,40,11,8.0,0,6143
103,2022-02-01,"Humboldt, California, US",135558,65.1,88226.0,19612,138,1821.0,21,8,8.0,0,1566
102,2022-03-01,"Humboldt, California, US",135558,65.6,88914.0,19872,140,291.0,2,0,4.0,0.0,223

18194.0 17858

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
103,2021-01-01,"Imperial, California, US",181215,0.5,990.0,28712,530,4564.0,152,35,131.0,31,3723
103,2021-02-01,"Imperial, California, US",181215,4.4,8018.0,29511,636,814.0,23,5,113.0,0,721
103,2021-03-01,"Imperial, California, US",181215,13.2,23901.0,30220,710,715.0,26,7,75.0,0,539
103,2021-04-01,"Imperial, California, US",181215,24.9,45100.0,31077,721,857.0,29,7,11.0,0,727
103,2021-05-01,"Imperial, California, US",181215,40.8,73977.0,31642,736,575.0,8,1,18.0,0,416
101,2021-06-01,"Imperial, California, US",181215,49.6,89851.0,31580,739,352.0,7,0,8.0,0,193
103,2021-07-01,"Imperial, California, US",181215,56.8,102917.0,32123,743,544.0,35,7,4.0,0,674
103,2021-08-01,"Imperial, California, US",181215,61.3,111143.0,33466,750,1343.0,83,16,7.0,0,1329
103,2021-09-01,"Imperial, California, US",181215,65.9,119425.0,34927,757,1461.0,59,8,7.0,0,1450
103,2021-10-01,"Imperial, California, US",181215,69.8,126504.0,36760,766,1833.0,82,11,9.0,0,1821
104,2021-11-01,"Imperial, California, US",181215,72.2,130852.0,38846,773,2086.0,116,22,7.0,0,2286
104,2021-12-01,"Imperial, California, US",181215,78.4,141999.0,42704,800,3858.0,126,34,27.0,0,4591
104,2022-01-01,"Imperial, California, US",181215,83.2,150746.0,61588,846,18884.0,135,22,48.0,0,18741
104,2022-02-01,"Imperial, California, US",181215,87.6,158788.0,65630,875,4042.0,76,4,29.0,0,3267
103,2022-03-01,"Imperial, California, US",181215,91.3,165388.0,66552,908,931.0,11,0,39.0,0.0,365

42859.0 40843

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
104,2021-01-01,"Kern, California, US",900202,0.7,6112.0,94113,624,25144.0,1175,197,112.0,218,21377
104,2021-02-01,"Kern, California, US",900202,4.5,40201.0,103295,851,9182.0,468,71,227.0,30,6174
104,2021-03-01,"Kern, California, US",900202,11.2,100420.0,106239,1253,2944.0,220,43,402.0,0,2359
104,2021-04-01,"Kern, California, US",900202,22.1,198982.0,108545,1353,2306.0,131,17,100.0,0,1417
104,2021-05-01,"Kern, California, US",900202,29.0,260894.0,110131,1389,1586.0,105,9,36.0,0,1145
102,2021-06-01,"Kern, California, US",900202,32.9,296535.0,111060,1407,929.0,68,11,18.0,0,828
104,2021-07-01,"Kern, California, US",900202,35.3,317716.0,113216,1425,2156.0,96,10,18.0,0,3555
104,2021-08-01,"Kern, California, US",900202,38.1,342970.0,124943,1465,11727.0,266,61,40.0,114,13505
104,2021-09-01,"Kern, California, US",900202,41.8,375977.0,139021,1544,14078.0,508,82,79.0,112,12838
104,2021-10-01,"Kern, California, US",900202,44.6,401809.0,148990,1669,9969.0,565,78,125.0,62,10451
105,2021-11-01,"Kern, California, US",900202,46.5,418970.0,157662,1804,8672.0,362,63,135.0,35,7092
105,2021-12-01,"Kern, California, US",900202,48.9,440259.0,162767,1918,5105.0,253,43,114.0,11,10364
105,2022-01-01,"Kern, California, US",900202,51.2,460942.0,214959,2012,52192.0,740,116,94.0,79,58796
105,2022-02-01,"Kern, California, US",900202,52.7,474217.0,236843,2117,21884.0,321,41,105.0,0,10405
104,2022-03-01,"Kern, California, US",900202,53.4,480314.0,242345,2281,5502.0,37,3,164.0,0.0,1162

173376.0 161468

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
105,2021-01-01,"Kings, California, US",152940,0.5,692.0,21593,172,4943.0,169,10,64.0,0,4428
105,2021-02-01,"Kings, California, US",152940,2.4,3680.0,22949,217,1356.0,45,4,45.0,0,1162
105,2021-03-01,"Kings, California, US",152940,8.5,12949.0,23579,239,630.0,24,3,23.0,0,561
105,2021-04-01,"Kings, California, US",152940,18.1,27701.0,23871,246,292.0,10,0,10.0,0,250
105,2021-05-01,"Kings, California, US",152940,22.7,34649.0,24074,244,205.0,11,3,1.0,0,172
103,2021-06-01,"Kings, California, US",152940,27.2,41544.0,24154,245,180.0,11,2,2.0,0,142
105,2021-07-01,"Kings, California, US",152940,29.9,45701.0,24748,248,594.0,51,6,3.0,0,873
105,2021-08-01,"Kings, California, US",152940,32.5,49780.0,27873,260,3125.0,151,22,17.0,0,3367
105,2021-09-01,"Kings, California, US",152940,35.9,54969.0,31083,301,3210.0,145,18,45.0,0,3031
105,2021-10-01,"Kings, California, US",152940,38.9,59509.0,33754,337,2671.0,107,21,40.0,0,2477
106,2021-11-01,"Kings, California, US",152940,40.7,62176.0,35127,363,1373.0,45,10,29.0,0,1398
106,2021-12-01,"Kings, California, US",152940,42.9,65541.0,36491,386,1364.0,46,6,27.0,0,1852
106,2022-01-01,"Kings, California, US",152940,47.7,72973.0,50166,398,13697.0,90,14,15.0,0,14022
106,2022-02-01,"Kings, California, US",152940,49.4,75612.0,54317,428,4151.0,37,7,33.0,0,3043
105,2022-03-01,"Kings, California, US",152940,50.1,76572.0,55088,443,771.0,6,0,17.0,0.0,451

38562.0 37229

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
106,2021-01-01,"Lake, California, US",64386,1.0,665.0,2827,33,987.0,41,15,10.0,0,853
106,2021-02-01,"Lake, California, US",64386,6.1,3902.0,3170,40,343.0,6,1,8.0,0,291
106,2021-03-01,"Lake, California, US",64386,19.9,12827.0,3340,43,170.0,12,7,3.0,0,166
106,2021-04-01,"Lake, California, US",64386,30.2,19454.0,3449,43,110.0,2,2,0.0,0,93
106,2021-05-01,"Lake, California, US",64386,37.5,24134.0,3532,45,83.0,5,3,2.0,0,71
104,2021-06-01,"Lake, California, US",64386,41.3,26578.0,3614,56,83.0,6,4,11.0,0,111
106,2021-07-01,"Lake, California, US",64386,43.9,28294.0,4254,66,640.0,54,19,10.0,0,829
106,2021-08-01,"Lake, California, US",64386,47.0,30233.0,5439,74,1185.0,90,42,9.0,0,1164
106,2021-09-01,"Lake, California, US",64386,50.6,32566.0,6317,97,878.0,58,24,24.0,0,763
106,2021-10-01,"Lake, California, US",64386,53.0,34123.0,6814,106,497.0,24,10,9.0,0,460
107,2021-11-01,"Lake, California, US",64386,54.4,35021.0,7051,110,238.0,12,4,4.0,0,215
107,2021-12-01,"Lake, California, US",64386,55.8,35933.0,7267,117,216.0,7,5,7.0,0,310
107,2022-01-01,"Lake, California, US",64386,57.4,36950.0,9903,119,2649.0,34,17,2.0,0,2978
107,2022-02-01,"Lake, California, US",64386,58.4,37572.0,11347,128,1444.0,28,8,11.0,0,1019
106,2022-03-01,"Lake, California, US",64386,58.9,37953.0,11575,136,228.0,6,0,8.0,0.0,141

9751.0 9464

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
107,2021-01-01,"Lassen, California, US",30573,0.9,287.0,5043,16,409.0,13,0,5.0,0,412
107,2021-02-01,"Lassen, California, US",30573,6.8,2083.0,5219,18,176.0,4,0,2.0,0,177
107,2021-03-01,"Lassen, California, US",30573,11.4,3494.0,5245,18,26.0,0,0,0.0,0,26
107,2021-04-01,"Lassen, California, US",30573,19.7,6026.0,5274,18,29.0,1,0,0.0,0,30
107,2021-05-01,"Lassen, California, US",30573,24.2,7404.0,5331,18,57.0,7,0,0.0,0,57
105,2021-06-01,"Lassen, California, US",30573,25.9,7923.0,5410,19,79.0,8,0,1.0,0,79
107,2021-07-01,"Lassen, California, US",30573,27.0,8268.0,5488,19,78.0,2,0,0.0,0,78
107,2021-08-01,"Lassen, California, US",30573,28.2,8626.0,6020,22,532.0,31,1,3.0,0,525
107,2021-09-01,"Lassen, California, US",30573,30.5,9334.0,6770,34,750.0,33,5,12.0,0,740
107,2021-10-01,"Lassen, California, US",30573,33.0,10098.0,7227,45,457.0,26,3,11.0,0,451
108,2021-11-01,"Lassen, California, US",30573,34.9,10681.0,7479,54,252.0,10,0,9.0,0,252
108,2021-12-01,"Lassen, California, US",30573,36.0,11006.0,7585,54,106.0,3,0,0.0,0,106
108,2022-01-01,"Lassen, California, US",30573,36.7,11227.0,9191,55,1606.0,14,2,1.0,0,1598
108,2022-02-01,"Lassen, California, US",30573,37.1,11348.0,9713,60,522.0,3,1,5.0,0,521
107,2022-03-01,"Lassen, California, US",30573,37.5,11459.0,9840,65,130.0,0,0,5.0,0.0,112

5209.0 5164

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
108,2021-01-01,"Los Angeles, California, US",10039107,1.5,147510.0,1116948,16770,345429.0,16608,3851,6411.0,5601,298761
108,2021-02-01,"Los Angeles, California, US",10039107,7.3,732622.0,1191923,21435,74975.0,3683,781,4665.0,817,48510
108,2021-03-01,"Los Angeles, California, US",10039107,15.8,1581694.0,1219614,23144,27879.0,1388,310,1711.0,171,16912
108,2021-04-01,"Los Angeles, California, US",10039107,30.8,3094311.0,1233091,23899,13477.0,994,223,763.0,47,12345
108,2021-05-01,"Los Angeles, California, US",10039107,44.0,4416533.0,1244054,24360,10963.0,700,142,465.0,11,6267
106,2021-06-01,"Los Angeles, California, US",10039107,50.6,5077757.0,1250240,24498,6186.0,795,166,146.0,0,8172
108,2021-07-01,"Los Angeles, California, US",10039107,53.6,5384944.0,1300313,24691,50073.0,3159,719,193.0,409,61514
108,2021-08-01,"Los Angeles, California, US",10039107,56.9,5713920.0,1407317,25284,107004.0,5013,1173,593.0,843,93074
108,2021-09-01,"Los Angeles, California, US",10039107,59.6,5985342.0,1459182,26106,51865.0,2490,495,822.0,388,47949
108,2021-10-01,"Los Angeles, California, US",10039107,62.0,6220642.0,1493170,26637,33988.0,1840,410,531.0,313,33251
109,2021-11-01,"Los Angeles, California, US",10039107,64.1,6431568.0,1527132,27166,33962.0,1750,467,529.0,324,35592
109,2021-12-01,"Los Angeles, California, US",10039107,67.3,6757813.0,1696582,27637,169450.0,4177,775,471.0,640,286360
109,2022-01-01,"Los Angeles, California, US",10039107,69.8,7012162.0,2659414,28963,962832.0,14536,2660,1326.0,2680,911028
109,2022-02-01,"Los Angeles, California, US",10039107,71.1,7140525.0,2796560,30716,137146.0,3179,524,1753.0,383,84282
108,2022-03-01,"Los Angeles, California, US",10039107,71.7,7200305.0,2833206,31669,36646.0,551,98,953.0,0.0,13085

2061875.0 1957102

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
109,2021-01-01,"Madera, California, US",157327,0.8,1180.0,15224,94,4130.0,67,9,30.0,0,3530
109,2021-02-01,"Madera, California, US",157327,4.9,7675.0,16325,199,1101.0,23,4,107.0,0,899
109,2021-03-01,"Madera, California, US",157327,13.2,20703.0,16910,229,585.0,21,3,39.0,0,548
109,2021-04-01,"Madera, California, US",157327,24.6,38736.0,17317,235,407.0,17,3,6.0,0,356
109,2021-05-01,"Madera, California, US",157327,32.0,50351.0,17484,240,167.0,14,3,5.0,0,171
107,2021-06-01,"Madera, California, US",157327,35.6,56020.0,17641,240,159.0,11,1,1.0,0,194
109,2021-07-01,"Madera, California, US",157327,37.4,58902.0,18093,245,452.0,40,6,6.0,0,718
109,2021-08-01,"Madera, California, US",157327,39.9,62715.0,20251,247,2158.0,76,11,2.0,0,2288
109,2021-09-01,"Madera, California, US",157327,43.0,67718.0,22708,266,2457.0,74,6,19.0,0,2291
109,2021-10-01,"Madera, California, US",157327,45.6,71715.0,24860,287,2152.0,78,9,21.0,0,2146
110,2021-11-01,"Madera, California, US",157327,47.3,74400.0,26415,311,1555.0,78,4,24.0,0,1436
110,2021-12-01,"Madera, California, US",157327,49.7,78129.0,27520,324,1105.0,41,2,13.0,0,1463
110,2022-01-01,"Madera, California, US",157327,51.7,81310.0,39124,339,11604.0,100,8,15.0,0,11939
110,2022-02-01,"Madera, California, US",157327,52.9,83259.0,43022,357,3898.0,63,2,18.0,0,2990
109,2022-03-01,"Madera, California, US",157327,53.7,84408.0,43411,368,389.0,3,0,11.0,0.0,275

32319.0 31244

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
110,2021-01-01,"Marin, California, US",258826,2.1,5339.0,12443,185,2618.0,76,3,40.0,27,2294
110,2021-02-01,"Marin, California, US",258826,10.3,26612.0,13318,214,875.0,27,2,29.0,0,790
110,2021-03-01,"Marin, California, US",258826,28.4,73527.0,13845,221,527.0,21,5,13.0,0,476
110,2021-04-01,"Marin, California, US",258826,50.1,129793.0,14143,228,301.0,14,1,9.0,0,297
110,2021-05-01,"Marin, California, US",258826,64.6,167247.0,14343,229,202.0,6,1,2.0,0,163
108,2021-06-01,"Marin, California, US",258826,71.5,184998.0,14400,232,119.0,5,0,4.0,0,140
110,2021-07-01,"Marin, California, US",258826,73.4,190085.0,14998,239,598.0,32,1,7.0,0,903
110,2021-08-01,"Marin, California, US",258826,75.4,195241.0,16578,240,1580.0,53,3,5.0,0,1330
110,2021-09-01,"Marin, California, US",258826,76.9,199049.0,17349,242,771.0,29,2,2.0,0,726
110,2021-10-01,"Marin, California, US",258826,78.3,202544.0,17897,247,548.0,12,1,5.0,0,516
111,2021-11-01,"Marin, California, US",258826,79.5,205813.0,18527,249,630.0,25,2,2.0,0,735
111,2021-12-01,"Marin, California, US",258826,84.6,218946.0,21430,249,2903.0,55,2,0.0,0,4353
111,2022-01-01,"Marin, California, US",258826,87.1,225422.0,33061,253,11631.0,166,7,4.0,0,10362
111,2022-02-01,"Marin, California, US",258826,87.8,227362.0,34957,272,1896.0,47,1,19.0,0,1546
110,2022-03-01,"Marin, California, US",258826,88.2,228380.0,35772,287,826.0,11,0,15.0,0.0,466

26025.0 25097

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
111,2021-01-01,"Mendocino, California, US",86749,1.4,1190.0,3244,37,855.0,47,6,13.0,0,789
111,2021-02-01,"Mendocino, California, US",86749,10.8,9369.0,3629,41,385.0,31,4,4.0,0,314
111,2021-03-01,"Mendocino, California, US",86749,22.9,19893.0,3748,45,120.0,11,0,6.0,0,114
111,2021-04-01,"Mendocino, California, US",86749,35.4,30744.0,3856,46,110.0,8,1,1.0,0,93
111,2021-05-01,"Mendocino, California, US",86749,44.3,38416.0,4043,47,187.0,22,11,1.0,0,186
109,2021-06-01,"Mendocino, California, US",86749,49.1,42573.0,4199,49,169.0,17,4,2.0,0,172
111,2021-07-01,"Mendocino, California, US",86749,51.6,44797.0,4496,49,297.0,41,9,0.0,0,432
111,2021-08-01,"Mendocino, California, US",86749,54.9,47608.0,6004,59,1508.0,102,16,10.0,0,1516
111,2021-09-01,"Mendocino, California, US",86749,57.9,50232.0,7263,78,1259.0,52,14,19.0,0,1172
111,2021-10-01,"Mendocino, California, US",86749,60.1,52179.0,7939,88,676.0,33,5,11.0,0,642
112,2021-11-01,"Mendocino, California, US",86749,61.7,53521.0,8629,97,690.0,28,8,9.0,0,720
112,2021-12-01,"Mendocino, California, US",86749,63.8,55364.0,9168,105,539.0,14,5,8.0,0,685
112,2022-01-01,"Mendocino, California, US",86749,65.8,57076.0,14387,117,5219.0,54,12,19.0,0,5121
112,2022-02-01,"Mendocino, California, US",86749,66.7,57902.0,15785,123,1398.0,38,7,6.0,0,1211
111,2022-03-01,"Mendocino, California, US",86749,67.3,58356.0,16113,126,328.0,14,2,3.0,0.0,175

13740.0 13342

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
112,2021-01-01,"Merced, California, US",277680,0.7,1976.0,26970,337,7779.0,268,65,113.0,51,6673
112,2021-02-01,"Merced, California, US",277680,4.0,11230.0,29441,384,2471.0,152,31,48.0,0,2222
112,2021-03-01,"Merced, California, US",277680,9.5,26267.0,30730,423,1289.0,95,18,40.0,0,1403
112,2021-04-01,"Merced, California, US",277680,18.9,52486.0,31721,444,991.0,71,12,21.0,0,815
112,2021-05-01,"Merced, California, US",277680,24.9,69045.0,32186,456,468.0,34,3,12.0,0,421
110,2021-06-01,"Merced, California, US",277680,28.4,78836.0,32291,469,133.0,19,3,14.0,0,232
112,2021-07-01,"Merced, California, US",277680,31.5,87405.0,33028,474,737.0,99,23,5.0,0,1034
112,2021-08-01,"Merced, California, US",277680,35.2,97667.0,36830,498,3802.0,163,36,24.0,11,4100
112,2021-09-01,"Merced, California, US",277680,40.5,112489.0,40693,552,3863.0,158,58,54.0,0,3605
112,2021-10-01,"Merced, California, US",277680,43.5,120911.0,43504,586,2811.0,169,74,34.0,0,2671
113,2021-11-01,"Merced, California, US",277680,46.3,128565.0,45198,667,1694.0,100,32,81.0,0,1721
113,2021-12-01,"Merced, California, US",277680,48.4,134279.0,46969,694,1771.0,68,26,27.0,0,2434
113,2022-01-01,"Merced, California, US",277680,47.5,132027.0,65379,740,18410.0,102,21,46.0,0,18264
113,2022-02-01,"Merced, California, US",277680,49.0,136132.0,69911,779,4532.0,69,6,39.0,0,3826
112,2022-03-01,"Merced, California, US",277680,49.9,138539.0,70713,808,802.0,15,2,29.0,0.0,517

51553.0 49938

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
113,2021-01-01,"Monterey, California, US",434061,1.1,4683.0,40463,278,11975.0,205,22,90.0,113,10422
113,2021-02-01,"Monterey, California, US",434061,5.2,22584.0,43391,323,2928.0,80,6,45.0,0,2345
113,2021-03-01,"Monterey, California, US",434061,13.3,57710.0,44103,338,712.0,34,2,17.0,0,674
113,2021-04-01,"Monterey, California, US",434061,29.6,128612.0,44671,379,568.0,22,0,41.0,0,437
113,2021-05-01,"Monterey, California, US",434061,42.7,185246.0,44935,379,292.0,15,2,2.0,0,263
111,2021-06-01,"Monterey, California, US",434061,48.8,212007.0,45101,492,172.0,17,1,113.0,0,168
113,2021-07-01,"Monterey, California, US",434061,51.9,225333.0,45753,525,652.0,65,9,33.0,0,880
113,2021-08-01,"Monterey, California, US",434061,54.9,238227.0,47967,539,2214.0,156,11,14.0,0,2503
113,2021-09-01,"Monterey, California, US",434061,58.0,251971.0,49664,571,1697.0,90,12,32.0,0,1852
113,2021-10-01,"Monterey, California, US",434061,60.4,262224.0,50668,588,1004.0,58,2,18.0,0,1095
114,2021-11-01,"Monterey, California, US",434061,62.2,269934.0,51826,626,1158.0,75,8,38.0,0,1450
114,2021-12-01,"Monterey, California, US",434061,65.3,283387.0,54264,643,2438.0,145,10,18.0,0,4334
114,2022-01-01,"Monterey, California, US",434061,69.1,299861.0,77582,661,23318.0,237,23,24.0,12,27544
114,2022-02-01,"Monterey, California, US",434061,70.9,307939.0,91271,693,13689.0,108,11,32.0,0,6310
113,2022-03-01,"Monterey, California, US",434061,71.9,312281.0,92900,726,1635.0,35,1,33.0,0.0,888

64452.0 61165

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
114,2021-01-01,"Napa, California, US",137744,2.3,3136.0,8437,52,2610.0,63,4,25.0,0,2206
114,2021-02-01,"Napa, California, US",137744,11.9,16443.0,9087,70,650.0,28,6,19.0,0,516
114,2021-03-01,"Napa, California, US",137744,23.3,32147.0,9435,78,348.0,14,1,8.0,0,380
114,2021-04-01,"Napa, California, US",137744,40.0,55157.0,9828,81,398.0,19,5,5.0,0,328
114,2021-05-01,"Napa, California, US",137744,53.0,72959.0,9986,82,158.0,4,2,1.0,0,110
112,2021-06-01,"Napa, California, US",137744,59.4,81833.0,10079,81,110.0,6,3,1.0,0,134
114,2021-07-01,"Napa, California, US",137744,61.5,84741.0,10456,82,381.0,32,8,1.0,0,558
114,2021-08-01,"Napa, California, US",137744,63.9,88033.0,11694,88,1238.0,66,18,7.0,0,1177
114,2021-09-01,"Napa, California, US",137744,66.3,91343.0,12530,96,836.0,45,6,8.0,0,782
114,2021-10-01,"Napa, California, US",137744,68.0,93706.0,13018,101,488.0,23,1,5.0,0,461
115,2021-11-01,"Napa, California, US",137744,69.5,95720.0,13428,104,410.0,6,2,4.0,0,409
115,2021-12-01,"Napa, California, US",137744,72.5,99825.0,14706,107,1278.0,19,3,4.0,0,2487
115,2022-01-01,"Napa, California, US",137744,75.1,103417.0,23543,114,8837.0,96,18,7.0,0,8614
115,2022-02-01,"Napa, California, US",137744,77.0,106074.0,26265,129,2722.0,26,5,18.0,0,1675
114,2022-03-01,"Napa, California, US",137744,77.5,106723.0,26728,141,480.0,13,0,12.0,0.0,366

20944.0 20203

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
115,2021-01-01,"Nevada, California, US",99755,0.9,924.0,3663,20,949.0,32,2,5.0,0,822
115,2021-02-01,"Nevada, California, US",99755,6.8,6770.0,4134,66,471.0,13,0,46.0,0,359
115,2021-03-01,"Nevada, California, US",99755,18.0,17988.0,4464,68,330.0,14,0,23.0,0,350
115,2021-04-01,"Nevada, California, US",99755,31.4,31309.0,4795,70,331.0,15,2,2.0,0,325
115,2021-05-01,"Nevada, California, US",99755,41.7,41549.0,5015,72,220.0,6,0,2.0,0,145
113,2021-06-01,"Nevada, California, US",99755,48.0,47906.0,5153,72,138.0,10,1,0.0,0,151
115,2021-07-01,"Nevada, California, US",99755,49.9,49807.0,5580,72,427.0,37,4,0.0,0,836
115,2021-08-01,"Nevada, California, US",99755,52.2,52111.0,7716,82,2136.0,103,18,10.0,0,1951
115,2021-09-01,"Nevada, California, US",99755,54.7,54572.0,8774,87,1058.0,48,3,5.0,0,897
115,2021-10-01,"Nevada, California, US",99755,56.8,56660.0,9403,91,629.0,31,3,5.0,0,618
116,2021-11-01,"Nevada, California, US",99755,58.3,58132.0,10046,105,643.0,48,10,14.0,0,681
116,2021-12-01,"Nevada, California, US",99755,60.7,60508.0,10694,110,648.0,26,4,5.0,0,972
116,2022-01-01,"Nevada, California, US",99755,62.3,62115.0,15862,112,5168.0,78,16,2.0,0,5007
116,2022-02-01,"Nevada, California, US",99755,63.0,62867.0,17088,121,1226.0,39,7,9.0,0,834
115,2022-03-01,"Nevada, California, US",99755,63.4,63239.0,17176,123,131.0,8,0,2.0,0.0,133

14505.0 14081

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
116,2021-01-01,"Orange, California, US",3175692,1.4,43129.0,245978,3062,63294.0,2772,414,1187.0,1064,62482
116,2021-02-01,"Orange, California, US",3175692,7.8,246580.0,261220,3917,15242.0,582,87,933.0,156,11459
116,2021-03-01,"Orange, California, US",3175692,15.8,501473.0,266233,4744,5013.0,232,38,827.0,0,4553
116,2021-04-01,"Orange, California, US",3175692,32.6,1033870.0,270101,4957,3868.0,157,21,213.0,0,3140
116,2021-05-01,"Orange, California, US",3175692,45.9,1457621.0,272094,5065,1993.0,116,17,108.0,0,1499
114,2021-06-01,"Orange, California, US",3175692,52.4,1665051.0,273561,5124,1467.0,126,27,60.0,0,1771
116,2021-07-01,"Orange, California, US",3175692,55.7,1768055.0,282426,5144,8865.0,720,131,21.0,45,12643
116,2021-08-01,"Orange, California, US",3175692,58.7,1863767.0,305410,5225,22984.0,1249,245,81.0,147,21597
116,2021-09-01,"Orange, California, US",3175692,61.3,1945688.0,319132,5432,13722.0,578,117,207.0,73,11044
116,2021-10-01,"Orange, California, US",3175692,63.3,2009353.0,326246,5595,7114.0,430,91,163.0,44,8425
117,2021-11-01,"Orange, California, US",3175692,64.8,2059435.0,334398,5725,8152.0,421,92,130.0,33,8867
117,2021-12-01,"Orange, California, US",3175692,67.6,2145956.0,358569,5890,24171.0,854,160,165.0,116,61891
117,2022-01-01,"Orange, California, US",3175692,69.8,2215548.0,553030,6100,194461.0,1783,321,210.0,504,173814
117,2022-02-01,"Orange, California, US",3175692,70.9,2251568.0,581172,6609,28142.0,227,41,509.0,45,16133
116,2022-03-01,"Orange, California, US",3175692,71.4,2266473.0,587256,6884,6084.0,29,7,275.0,0.0,3089

404572.0 402407

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
117,2021-01-01,"Placer, California, US",398329,1.7,6922.0,19504,204,5151.0,146,12,82.0,17,4312
117,2021-02-01,"Placer, California, US",398329,9.7,38661.0,20899,239,1395.0,44,1,35.0,0,1269
117,2021-03-01,"Placer, California, US",398329,20.3,80719.0,22150,271,1251.0,28,3,34.0,0,1167
117,2021-04-01,"Placer, California, US",398329,32.8,130586.0,23616,287,1466.0,30,4,16.0,0,1218
117,2021-05-01,"Placer, California, US",398329,43.6,173702.0,24531,293,916.0,18,4,8.0,0,723
115,2021-06-01,"Placer, California, US",398329,49.3,196550.0,25292,299,819.0,28,2,6.0,0,659
117,2021-07-01,"Placer, California, US",398329,51.7,206060.0,27059,306,1767.0,105,23,7.0,0,2498
117,2021-08-01,"Placer, California, US",398329,54.5,217234.0,33566,325,6507.0,199,36,21.0,42,6388
117,2021-09-01,"Placer, California, US",398329,57.4,228473.0,37706,381,4140.0,131,14,57.0,29,3781
117,2021-10-01,"Placer, California, US",398329,59.4,236711.0,40348,434,2642.0,103,15,55.0,34,2555
118,2021-11-01,"Placer, California, US",398329,60.8,242164.0,42219,470,1871.0,68,11,36.0,0,1947
118,2021-12-01,"Placer, California, US",398329,63.6,253411.0,45381,489,3162.0,97,13,19.0,0,4783
118,2022-01-01,"Placer, California, US",398329,65.5,260903.0,65186,523,19805.0,186,18,37.0,34,19181
118,2022-02-01,"Placer, California, US",398329,66.9,266548.0,69269,577,4097.0,43,3,54.0,0,2853
117,2022-03-01,"Placer, California, US",398329,67.3,268015.0,70105,614,836.0,8,0,37.0,0.0,441

55825.0 53775

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
118,2021-01-01,"Riverside, California, US",2470546,0.8,20527.0,279069,3074,85613.0,1310,58,1119.0,948,75832
118,2021-02-01,"Riverside, California, US",2470546,5.4,132295.0,292691,3661,13622.0,367,18,592.0,84,11854
118,2021-03-01,"Riverside, California, US",2470546,13.6,336996.0,296738,4171,4047.0,168,13,521.0,0,4032
118,2021-04-01,"Riverside, California, US",2470546,24.7,611260.0,300959,4412,4221.0,115,9,241.0,0,3090
118,2021-05-01,"Riverside, California, US",2470546,34.4,849590.0,303046,4442,2087.0,70,3,32.0,0,1873
116,2021-06-01,"Riverside, California, US",2470546,39.3,971164.0,307514,4535,4468.0,77,8,98.0,0,1950
118,2021-07-01,"Riverside, California, US",2470546,42.0,1038251.0,315086,4554,7643.0,345,30,20.0,11,12193
118,2021-08-01,"Riverside, California, US",2470546,45.3,1119388.0,344093,4627,29007.0,540,20,73.0,223,28025
118,2021-09-01,"Riverside, California, US",2470546,48.6,1201688.0,363295,4895,19202.0,308,12,270.0,97,17438
118,2021-10-01,"Riverside, California, US",2470546,51.0,1258896.0,375465,5088,12170.0,240,10,194.0,49,11747
119,2021-11-01,"Riverside, California, US",2470546,52.5,1297595.0,387561,5358,12096.0,207,9,270.0,64,12787
119,2021-12-01,"Riverside, California, US",2470546,54.6,1349207.0,416008,5501,28447.0,297,9,145.0,148,46438
119,2022-01-01,"Riverside, California, US",2470546,56.7,1401788.0,584910,5767,168902.0,427,11,269.0,339,158465
119,2022-02-01,"Riverside, California, US",2470546,58.0,1432938.0,613826,6179,28916.0,117,4,413.0,14,18169
118,2022-03-01,"Riverside, California, US",2470546,58.6,1447089.0,618741,6411,4915.0,27,0,234.0,0.0,2322

425356.0 406215

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
119,2021-01-01,"Sacramento, California, US",1552058,1.5,22927.0,87653,1186,22297.0,585,109,356.0,184,19069
119,2021-02-01,"Sacramento, California, US",1552058,6.2,96335.0,94741,1398,7088.0,310,29,212.0,17,6536
119,2021-03-01,"Sacramento, California, US",1552058,15.5,239900.0,99202,1519,4461.0,224,31,121.0,0,4675
119,2021-04-01,"Sacramento, California, US",1552058,28.6,444622.0,104552,1596,5350.0,210,41,77.0,0,4573
119,2021-05-01,"Sacramento, California, US",1552058,40.0,621172.0,108067,1644,3515.0,149,24,48.0,0,3020
117,2021-06-01,"Sacramento, California, US",1552058,46.6,722557.0,110015,1676,2218.0,148,25,35.0,0,2466
119,2021-07-01,"Sacramento, California, US",1552058,49.6,770124.0,117528,1720,7513.0,286,65,45.0,39,10152
119,2021-08-01,"Sacramento, California, US",1552058,52.8,818781.0,141032,1863,23504.0,549,118,155.0,160,21526
119,2021-09-01,"Sacramento, California, US",1552058,56.0,868549.0,153891,2099,12859.0,338,74,243.0,53,12531
119,2021-10-01,"Sacramento, California, US",1552058,58.4,906146.0,162267,2326,8376.0,179,62,241.0,36,8505
120,2021-11-01,"Sacramento, California, US",1552058,59.9,930148.0,168394,2443,6127.0,131,28,117.0,28,6261
120,2021-12-01,"Sacramento, California, US",1552058,62.9,976196.0,180030,2547,11636.0,135,40,104.0,40,19319
120,2022-01-01,"Sacramento, California, US",1552058,65.0,1009063.0,280730,2677,100700.0,123,31,130.0,221,96527
120,2022-02-01,"Sacramento, California, US",1552058,66.6,1033009.0,299668,2932,18938.0,78,19,255.0,24,14790
119,2022-03-01,"Sacramento, California, US",1552058,67.2,1043509.0,303149,3080,3546.0,32,3,148.0,0.0,1846

238128.0 231796

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
120,2021-01-01,"San Benito, California, US",62808,0.9,576.0,5496,48,1790.0,54,6,20.0,0,1513
120,2021-02-01,"San Benito, California, US",62808,4.2,2647.0,5862,57,366.0,14,0,11.0,0,300
120,2021-03-01,"San Benito, California, US",62808,11.7,7346.0,5969,61,114.0,9,4,4.0,0,135
120,2021-04-01,"San Benito, California, US",62808,25.5,16035.0,6135,63,167.0,8,1,2.0,0,157
120,2021-05-01,"San Benito, California, US",62808,37.5,23550.0,6185,63,56.0,2,1,0.0,0,46
118,2021-06-01,"San Benito, California, US",62808,43.8,27507.0,6219,63,37.0,5,0,0.0,0,65
120,2021-07-01,"San Benito, California, US",62808,46.6,29282.0,6366,63,147.0,11,4,0.0,0,166
120,2021-08-01,"San Benito, California, US",62808,49.8,31291.0,6826,64,460.0,10,3,1.0,0,471
120,2021-09-01,"San Benito, California, US",62808,53.5,33574.0,7203,69,377.0,7,2,5.0,0,349
120,2021-10-01,"San Benito, California, US",62808,55.8,35059.0,7564,75,361.0,9,4,6.0,0,329
121,2021-11-01,"San Benito, California, US",62808,57.8,36314.0,7827,78,263.0,11,4,3.0,0,295
121,2021-12-01,"San Benito, California, US",62808,60.9,38272.0,8530,83,703.0,8,1,5.0,0,1056
121,2022-01-01,"San Benito, California, US",62808,63.8,40089.0,12452,91,3922.0,3,0,8.0,0,3709
121,2022-02-01,"San Benito, California, US",62808,65.7,41262.0,13308,96,856.0,0,0,5.0,0,659
120,2022-03-01,"San Benito, California, US",62808,66.4,41731.0,13420,99,136.0,0,0,3.0,0.0,84

9755.0 9334

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
121,2021-01-01,"San Bernardino, California, US",2180085,1.4,30511.0,277685,2156,72679.0,1755,337,608.0,1023,62795
121,2021-02-01,"San Bernardino, California, US",2180085,5.2,113484.0,290188,3595,12503.0,368,60,1439.0,56,9399
121,2021-03-01,"San Bernardino, California, US",2180085,12.2,266323.0,294691,4356,4503.0,222,33,872.0,0,3301
121,2021-04-01,"San Bernardino, California, US",2180085,22.6,492138.0,299637,4640,4946.0,182,25,288.0,0,2664
121,2021-05-01,"San Bernardino, California, US",2180085,32.2,701674.0,301978,4758,2348.0,142,14,121.0,0,1678
119,2021-06-01,"San Bernardino, California, US",2180085,37.4,815588.0,303314,4975,1364.0,138,27,218.0,0,1825
121,2021-07-01,"San Bernardino, California, US",2180085,40.3,879187.0,310201,5240,6887.0,473,64,271.0,27,10609
121,2021-08-01,"San Bernardino, California, US",2180085,43.7,953560.0,335642,5350,25441.0,850,83,112.0,285,25011
121,2021-09-01,"San Bernardino, California, US",2180085,47.0,1025141.0,351946,5540,16304.0,500,60,197.0,130,14433
121,2021-10-01,"San Bernardino, California, US",2180085,49.4,1076338.0,362578,5777,10632.0,424,52,255.0,94,10786
122,2021-11-01,"San Bernardino, California, US",2180085,51.0,1112450.0,374708,5962,12130.0,572,69,195.0,120,13158
122,2021-12-01,"San Bernardino, California, US",2180085,53.1,1158494.0,399961,6051,25253.0,700,71,90.0,92,45615
122,2022-01-01,"San Bernardino, California, US",2180085,55.6,1211270.0,559061,6302,159100.0,826,53,252.0,93,144789
122,2022-02-01,"San Bernardino, California, US",2180085,56.9,1240306.0,581084,6572,22023.0,410,16,270.0,0,14320
121,2022-03-01,"San Bernardino, California, US",2180085,57.5,1254251.0,586121,6863,5053.0,71,7,295.0,0.0,1817

381166.0 362200

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
122,2021-01-01,"San Diego, California, US",3338330,1.6,54755.0,249789,2619,86215.0,3867,189,1085.0,870,76347
122,2021-02-01,"San Diego, California, US",3338330,7.1,237403.0,273251,3284,23462.0,706,45,665.0,108,16477
122,2021-03-01,"San Diego, California, US",3338330,14.5,483640.0,283858,3555,10607.0,298,31,271.0,0,7595
122,2021-04-01,"San Diego, California, US",3338330,21.8,729093.0,290651,3702,7587.0,265,21,147.0,0,7221
122,2021-05-01,"San Diego, California, US",3338330,32.4,1082203.0,295224,3756,4573.0,120,15,54.0,0,3737
120,2021-06-01,"San Diego, California, US",3338330,41.0,1367498.0,298030,3780,2806.0,142,10,24.0,0,3043
122,2021-07-01,"San Diego, California, US",3338330,43.8,1463350.0,312335,3798,14305.0,1015,35,18.0,20,19746
122,2021-08-01,"San Diego, California, US",3338330,46.8,1562965.0,354047,3888,41712.0,2450,60,90.0,121,40209
122,2021-09-01,"San Diego, California, US",3338330,49.7,1659563.0,377276,4078,23229.0,1234,43,190.0,43,21167
122,2021-10-01,"San Diego, California, US",3338330,52.0,1736008.0,391471,4213,14195.0,852,39,135.0,27,15541
123,2021-11-01,"San Diego, California, US",3338330,54.0,1803251.0,406927,4335,15456.0,753,39,122.0,42,16069
123,2021-12-01,"San Diego, California, US",3338330,57.0,1903364.0,451019,4469,44092.0,1567,40,134.0,70,86344
123,2022-01-01,"San Diego, California, US",3338330,67.4,2250768.0,730189,4665,279170.0,4741,64,196.0,359,264646
123,2022-02-01,"San Diego, California, US",3338330,68.9,2299583.0,786060,5018,55871.0,1268,47,353.0,42,32598
122,2022-03-01,"San Diego, California, US",3338330,70.1,2341521.0,803202,5169,17142.0,156,9,151.0,0.0,5822

640422.0 616562

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
123,2021-01-01,"San Francisco, California, US",881549,2.0,17783.0,32457,323,8477.0,396,47,145.0,89,7694
123,2021-02-01,"San Francisco, California, US",881549,7.7,67741.0,35374,417,2917.0,146,17,94.0,0,2411
123,2021-03-01,"San Francisco, California, US",881549,21.8,192036.0,36557,474,1183.0,50,5,65.0,0,1224
123,2021-04-01,"San Francisco, California, US",881549,41.8,368212.0,37725,538,1168.0,40,6,65.0,0,970
123,2021-05-01,"San Francisco, California, US",881549,60.5,533348.0,38320,550,595.0,25,5,13.0,0,516
121,2021-06-01,"San Francisco, California, US",881549,67.1,591142.0,38388,558,397.0,17,6,9.0,0,524
123,2021-07-01,"San Francisco, California, US",881549,69.3,611003.0,42027,562,3639.0,102,20,6.0,0,5404
123,2021-08-01,"San Francisco, California, US",881549,71.3,628837.0,49478,581,7451.0,138,29,20.0,0,6200
123,2021-09-01,"San Francisco, California, US",881549,73.0,643230.0,52598,634,3120.0,85,13,53.0,0,3069
123,2021-10-01,"San Francisco, California, US",881549,74.9,660296.0,54709,661,2111.0,63,8,28.0,0,1952
124,2021-11-01,"San Francisco, California, US",881549,76.4,673421.0,56604,669,1895.0,24,7,8.0,0,2077
124,2021-12-01,"San Francisco, California, US",881549,80.2,706744.0,67769,682,11165.0,31,6,15.0,0,18285
124,2022-01-01,"San Francisco, California, US",881549,82.0,723150.0,118959,712,51190.0,42,4,33.0,45,48686
124,2022-02-01,"San Francisco, California, US",881549,82.8,729917.0,131625,791,12666.0,13,0,80.0,0,6222
123,2022-03-01,"San Francisco, California, US",881549,83.1,732937.0,133512,841,2221.0,4,1,50.0,0.0,1895

110195.0 107129

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
124,2021-01-01,"San Joaquin, California, US",762148,1.4,10830.0,63924,877,16708.0,369,72,232.0,145,14589
124,2021-02-01,"San Joaquin, California, US",762148,5.1,39204.0,68459,1097,4535.0,131,27,223.0,31,4229
124,2021-03-01,"San Joaquin, California, US",762148,12.8,97923.0,71896,1259,3469.0,94,19,198.0,0,3349
124,2021-04-01,"San Joaquin, California, US",762148,22.6,172229.0,74786,1306,2890.0,123,13,47.0,0,2375
124,2021-05-01,"San Joaquin, California, US",762148,32.1,244817.0,76447,1383,1661.0,97,15,82.0,0,1365
122,2021-06-01,"San Joaquin, California, US",762148,36.6,278778.0,77461,1409,1259.0,104,15,28.0,0,1080
124,2021-07-01,"San Joaquin, California, US",762148,39.6,301579.0,80564,1443,3103.0,193,37,35.0,0,4195
124,2021-08-01,"San Joaquin, California, US",762148,43.2,329446.0,92061,1540,11497.0,509,81,97.0,60,11457
124,2021-09-01,"San Joaquin, California, US",762148,49.5,377345.0,99764,1646,7703.0,323,44,106.0,26,7200
124,2021-10-01,"San Joaquin, California, US",762148,53.0,403993.0,104328,1768,4564.0,197,26,122.0,18,4252
125,2021-11-01,"San Joaquin, California, US",762148,55.7,424244.0,107648,1834,3320.0,204,28,66.0,0,3447
125,2021-12-01,"San Joaquin, California, US",762148,58.6,446909.0,112802,1902,5154.0,147,23,68.0,0,8804
125,2022-01-01,"San Joaquin, California, US",762148,55.6,423856.0,164510,1985,51708.0,257,50,94.0,68,49521
125,2022-02-01,"San Joaquin, California, US",762148,57.2,436247.0,173995,2060,9485.0,220,23,76.0,0,7432
124,2022-03-01,"San Joaquin, California, US",762148,58.3,444642.0,175620,2201,1627.0,46,6,141.0,0.0,944

128683.0 124239

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
125,2021-01-01,"San Luis Obispo, California, US",283111,2.0,5679.0,18099,199,6977.0,184,25,110.0,50,6101
125,2021-02-01,"San Luis Obispo, California, US",283111,7.2,20271.0,19985,237,1886.0,62,12,39.0,0,1530
125,2021-03-01,"San Luis Obispo, California, US",283111,15.2,43137.0,20844,251,859.0,18,2,14.0,0,878
125,2021-04-01,"San Luis Obispo, California, US",283111,28.9,81865.0,21602,255,758.0,29,1,4.0,0,676
125,2021-05-01,"San Luis Obispo, California, US",283111,40.0,113284.0,21964,256,368.0,14,2,3.0,0,301
123,2021-06-01,"San Luis Obispo, California, US",283111,44.7,126510.0,22088,256,153.0,9,2,2.0,0,145
125,2021-07-01,"San Luis Obispo, California, US",283111,46.9,132856.0,22742,260,654.0,49,9,4.0,0,955
125,2021-08-01,"San Luis Obispo, California, US",283111,49.2,139293.0,26522,282,3780.0,176,46,24.0,0,3967
125,2021-09-01,"San Luis Obispo, California, US",283111,51.6,145976.0,29059,323,2537.0,104,24,41.0,0,2230
125,2021-10-01,"San Luis Obispo, California, US",283111,53.6,151706.0,30417,341,1358.0,67,7,22.0,0,1330
126,2021-11-01,"San Luis Obispo, California, US",283111,54.9,155562.0,31532,359,1115.0,48,9,21.0,0,1187
126,2021-12-01,"San Luis Obispo, California, US",283111,57.2,161903.0,33943,365,2411.0,87,15,7.0,0,3710
126,2022-01-01,"San Luis Obispo, California, US",283111,59.2,167480.0,50975,394,17032.0,230,24,31.0,36,16613
126,2022-02-01,"San Luis Obispo, California, US",283111,59.9,169693.0,55279,439,4304.0,74,4,47.0,0,3222
125,2022-03-01,"San Luis Obispo, California, US",283111,60.3,170754.0,56320,475,1041.0,20,1,36.0,0.0,531

45233.0 43376

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
126,2021-01-01,"San Mateo, California, US",766573,1.9,14935.0,36021,219,11323.0,30,2,27.0,84,10008
126,2021-02-01,"San Mateo, California, US",766573,8.3,63954.0,39467,314,3446.0,3,0,95.0,0,2438
126,2021-03-01,"San Mateo, California, US",766573,22.2,169869.0,40855,350,1388.0,0,0,36.0,0,1270
126,2021-04-01,"San Mateo, California, US",766573,39.6,303771.0,42043,380,1195.0,34,8,31.0,0,1075
126,2021-05-01,"San Mateo, California, US",766573,57.2,438167.0,42864,442,839.0,35,3,62.0,0,489
124,2021-06-01,"San Mateo, California, US",766573,65.0,498351.0,43093,537,646.0,28,6,229.0,0,508
126,2021-07-01,"San Mateo, California, US",766573,67.4,516916.0,45244,548,2151.0,88,9,11.0,0,2850
126,2021-08-01,"San Mateo, California, US",766573,69.6,533534.0,50041,556,4797.0,138,12,8.0,0,4684
126,2021-09-01,"San Mateo, California, US",766573,71.5,547826.0,52568,573,2527.0,65,12,17.0,0,2538
126,2021-10-01,"San Mateo, California, US",766573,73.2,561036.0,54158,625,1590.0,58,2,56.0,0,1631
127,2021-11-01,"San Mateo, California, US",766573,74.9,573787.0,55619,629,1461.0,41,4,4.0,0,1783
127,2021-12-01,"San Mateo, California, US",766573,78.9,604595.0,62227,636,6608.0,66,9,7.0,0,14309
127,2022-01-01,"San Mateo, California, US",766573,81.7,626209.0,109658,655,47431.0,149,8,19.0,11,48691
127,2022-02-01,"San Mateo, California, US",766573,82.9,635869.0,125181,711,15523.0,52,4,56.0,0,5661
126,2022-03-01,"San Mateo, California, US",766573,83.4,639513.0,127774,743,2593.0,12,1,32.0,0.0,1397

103518.0 99332

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
127,2021-01-01,"Santa Barbara, California, US",446499,1.2,5171.0,29541,297,11538.0,215,32,136.0,98,10696
127,2021-02-01,"Santa Barbara, California, US",446499,7.8,34950.0,32989,413,3448.0,93,11,116.0,0,2765
127,2021-03-01,"Santa Barbara, California, US",446499,15.4,68911.0,34207,443,1218.0,28,5,32.0,0,1095
127,2021-04-01,"Santa Barbara, California, US",446499,32.3,144169.0,35253,451,1046.0,29,3,9.0,0,788
127,2021-05-01,"Santa Barbara, California, US",446499,45.9,205025.0,35566,456,317.0,18,2,9.0,0,266
125,2021-06-01,"Santa Barbara, California, US",446499,51.6,230282.0,35732,456,194.0,8,1,8.0,0,220
127,2021-07-01,"Santa Barbara, California, US",446499,54.2,241966.0,36822,467,1090.0,56,11,11.0,0,1545
127,2021-08-01,"Santa Barbara, California, US",446499,56.8,253624.0,40528,481,3706.0,68,9,14.0,0,4173
127,2021-09-01,"Santa Barbara, California, US",446499,59.5,265738.0,43984,508,3456.0,36,2,27.0,0,2711
127,2021-10-01,"Santa Barbara, California, US",446499,61.8,275948.0,45727,528,1743.0,13,1,20.0,0,1723
128,2021-11-01,"Santa Barbara, California, US",446499,63.5,283320.0,47316,549,1589.0,23,2,21.0,0,1714
128,2021-12-01,"Santa Barbara, California, US",446499,66.0,294907.0,51481,568,4165.0,8,0,19.0,0,6734
128,2022-01-01,"Santa Barbara, California, US",446499,68.4,305298.0,83721,606,32240.0,12,1,43.0,34,30477
128,2022-02-01,"Santa Barbara, California, US",446499,70.0,312492.0,89867,653,6146.0,11,0,47.0,0,4618
127,2022-03-01,"Santa Barbara, California, US",446499,70.7,315453.0,90463,677,762.0,9,0,24.0,0.0,546

72658.0 70071

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
128,2021-01-01,"Santa Clara, California, US",1927852,1.7,33423.0,102464,1330,32120.0,927,97,666.0,244,26968
128,2021-02-01,"Santa Clara, California, US",1927852,7.3,141321.0,111146,1704,8682.0,279,23,374.0,12,7263
128,2021-03-01,"Santa Clara, California, US",1927852,18.0,347834.0,115159,1874,4013.0,153,13,182.0,0,3718
128,2021-04-01,"Santa Clara, California, US",1927852,34.2,659834.0,118908,1988,3749.0,142,22,115.0,0,3275
128,2021-05-01,"Santa Clara, California, US",1927852,58.2,1121399.0,120279,2057,1371.0,86,14,72.0,0,1138
126,2021-06-01,"Santa Clara, California, US",1927852,66.4,1280745.0,119711,2090,916.0,65,3,46.0,0,970
128,2021-07-01,"Santa Clara, California, US",1927852,69.3,1335791.0,123476,2099,3765.0,253,41,11.0,0,5412
128,2021-08-01,"Santa Clara, California, US",1927852,72.1,1389026.0,135657,1793,12181.0,638,81,114.0,11,11568
128,2021-09-01,"Santa Clara, California, US",1927852,74.0,1427358.0,142382,1862,6725.0,326,49,69.0,0,6160
128,2021-10-01,"Santa Clara, California, US",1927852,75.7,1459526.0,147162,1903,4780.0,238,39,45.0,0,4733
129,2021-11-01,"Santa Clara, California, US",1927852,77.4,1492789.0,152353,1925,5191.0,278,54,40.0,0,5680
129,2021-12-01,"Santa Clara, California, US",1927852,81.6,1573207.0,167302,1969,14949.0,487,72,60.0,0,27397
129,2022-01-01,"Santa Clara, California, US",1927852,84.1,1621330.0,295709,2035,128407.0,1239,150,80.0,74,120112
129,2022-02-01,"Santa Clara, California, US",1927852,85.3,1644170.0,319151,2180,23442.0,299,30,168.0,0,18157
128,2022-03-01,"Santa Clara, California, US",1927852,85.8,1653863.0,325029,2259,5940.0,72,7,87.0,0.0,3499

256231.0 246050

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
129,2021-01-01,"Santa Cruz, California, US",273213,1.7,4582.0,14170,149,4880.0,82,7,72.0,23,4560
129,2021-02-01,"Santa Cruz, California, US",273213,9.2,25063.0,15355,185,1185.0,30,3,37.0,0,975
129,2021-03-01,"Santa Cruz, California, US",273213,21.1,57763.0,16100,201,745.0,14,1,20.0,0,434
129,2021-04-01,"Santa Cruz, California, US",273213,36.8,100548.0,16787,207,776.0,5,0,7.0,0,254
129,2021-05-01,"Santa Cruz, California, US",273213,52.7,143905.0,16953,207,211.0,7,2,3.0,0,127
127,2021-06-01,"Santa Cruz, California, US",273213,59.5,162584.0,17068,208,123.0,13,0,2.0,0,119
129,2021-07-01,"Santa Cruz, California, US",273213,62.1,169613.0,17411,207,343.0,11,1,0.0,0,621
129,2021-08-01,"Santa Cruz, California, US",273213,64.9,177336.0,19368,210,1957.0,34,3,4.0,0,1854
129,2021-09-01,"Santa Cruz, California, US",273213,68.2,186203.0,20443,214,1075.0,33,6,4.0,0,991
129,2021-10-01,"Santa Cruz, California, US",273213,69.7,190555.0,21229,221,786.0,16,0,8.0,0,743
130,2021-11-01,"Santa Cruz, California, US",273213,71.0,194108.0,22208,224,979.0,17,2,4.0,0,1113
130,2021-12-01,"Santa Cruz, California, US",273213,74.2,202802.0,24242,228,2034.0,15,1,5.0,0,3249
130,2022-01-01,"Santa Cruz, California, US",273213,76.4,208750.0,43611,239,19369.0,4,0,12.0,0,18732
130,2022-02-01,"Santa Cruz, California, US",273213,77.5,211828.0,48538,254,4927.0,0,0,15.0,0,4024
129,2022-03-01,"Santa Cruz, California, US",273213,78.1,213297.0,49503,259,974.0,0,0,5.0,0.0,749

40364.0 38545

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
130,2021-01-01,"Shasta, California, US",180080,1.3,2424.0,11406,112,2652.0,104,11,46.0,0,2124
130,2021-02-01,"Shasta, California, US",180080,5.9,10613.0,12224,149,818.0,55,15,43.0,0,697
130,2021-03-01,"Shasta, California, US",180080,12.7,22925.0,12686,179,582.0,27,1,106.0,0,506
130,2021-04-01,"Shasta, California, US",180080,23.1,41680.0,13322,197,636.0,33,7,20.0,0,628
130,2021-05-01,"Shasta, California, US",180080,30.1,54190.0,13998,199,676.0,43,5,7.0,0,609
128,2021-06-01,"Shasta, California, US",180080,33.6,60539.0,14222,204,309.0,20,6,6.0,0,333
130,2021-07-01,"Shasta, California, US",180080,35.7,64310.0,14699,212,477.0,41,9,9.0,0,762
130,2021-08-01,"Shasta, California, US",180080,38.0,68387.0,17755,220,3056.0,204,51,12.0,35,3445
130,2021-09-01,"Shasta, California, US",180080,41.1,73957.0,22142,270,4387.0,201,46,51.0,42,4061
130,2021-10-01,"Shasta, California, US",180080,43.7,78732.0,24682,364,2540.0,182,47,95.0,27,2450
131,2021-11-01,"Shasta, California, US",180080,45.5,81957.0,26075,451,1393.0,90,18,87.0,13,1284
131,2021-12-01,"Shasta, California, US",180080,47.2,84971.0,27016,491,941.0,74,20,40.0,0,1120
131,2022-01-01,"Shasta, California, US",180080,48.7,87649.0,33816,526,6800.0,164,23,35.0,28,6896
131,2022-02-01,"Shasta, California, US",180080,49.3,88810.0,36307,558,2491.0,101,14,32.0,0,2015
130,2022-03-01,"Shasta, California, US",180080,49.6,89395.0,36733,610,429.0,18,3,52.0,0.0,324

28187.0 27254

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
131,2021-01-01,"Siskiyou, California, US",43539,1.3,545.0,1440,4,376.0,25,4,1.0,0,353
131,2021-02-01,"Siskiyou, California, US",43539,8.0,3484.0,1646,5,206.0,12,2,1.0,0,199
131,2021-03-01,"Siskiyou, California, US",43539,18.2,7920.0,1769,7,124.0,9,2,2.0,0,88
131,2021-04-01,"Siskiyou, California, US",43539,29.0,12624.0,1939,11,174.0,30,9,4.0,0,245
131,2021-05-01,"Siskiyou, California, US",43539,34.1,14861.0,2224,21,285.0,21,11,10.0,0,228
129,2021-06-01,"Siskiyou, California, US",43539,38.9,16919.0,2282,29,59.0,9,3,8.0,0,46
131,2021-07-01,"Siskiyou, California, US",43539,41.7,18137.0,2421,31,139.0,15,3,2.0,0,174
131,2021-08-01,"Siskiyou, California, US",43539,43.8,19059.0,3221,33,800.0,53,10,2.0,0,868
131,2021-09-01,"Siskiyou, California, US",43539,46.2,20130.0,4210,42,989.0,61,34,9.0,0,927
131,2021-10-01,"Siskiyou, California, US",43539,48.2,20978.0,4561,46,351.0,28,9,4.0,0,291
132,2021-11-01,"Siskiyou, California, US",43539,49.5,21569.0,4745,55,184.0,14,6,10.0,0,191
132,2021-12-01,"Siskiyou, California, US",43539,51.0,22202.0,4920,61,175.0,17,4,6.0,0,203
132,2022-01-01,"Siskiyou, California, US",43539,52.1,22676.0,6510,66,1590.0,39,7,6.0,0,1602
132,2022-02-01,"Siskiyou, California, US",43539,52.8,22974.0,7109,74,599.0,26,6,9.0,0,499
131,2022-03-01,"Siskiyou, California, US",43539,53.5,23304.0,7199,80,92.0,3,1,6.0,0.0,70

6143.0 5984

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
132,2021-01-01,"Solano, California, US",447643,1.8,7975.0,27981,118,8848.0,198,36,23.0,12,7455
132,2021-02-01,"Solano, California, US",447643,6.4,28470.0,30096,166,2115.0,56,13,49.0,0,1648
132,2021-03-01,"Solano, California, US",447643,16.0,71429.0,31215,235,1119.0,47,8,71.0,0,1098
132,2021-04-01,"Solano, California, US",447643,29.5,131997.0,32532,249,1317.0,66,15,14.0,0,1323
132,2021-05-01,"Solano, California, US",447643,40.0,179268.0,33508,256,976.0,62,13,8.0,0,807
130,2021-06-01,"Solano, California, US",447643,46.1,206483.0,34009,268,583.0,23,5,12.0,0,673
132,2021-07-01,"Solano, California, US",447643,49.1,219933.0,36075,263,2066.0,155,28,5.0,0,3019
132,2021-08-01,"Solano, California, US",447643,52.0,232864.0,42093,289,6018.0,225,58,31.0,0,5903
132,2021-09-01,"Solano, California, US",447643,55.3,247739.0,44951,321,2858.0,102,27,33.0,0,2656
132,2021-10-01,"Solano, California, US",447643,57.8,258937.0,46551,346,1600.0,55,22,26.0,0,1455
133,2021-11-01,"Solano, California, US",447643,59.5,266457.0,47762,357,1211.0,33,5,12.0,0,1324
133,2021-12-01,"Solano, California, US",447643,62.2,278453.0,50662,379,2900.0,60,13,22.0,0,5485
133,2022-01-01,"Solano, California, US",447643,64.8,290057.0,77354,414,26692.0,53,20,42.0,0,27195
133,2022-02-01,"Solano, California, US",447643,66.8,298946.0,85994,430,8640.0,7,2,22.0,0,5096
132,2022-03-01,"Solano, California, US",447643,67.4,301669.0,87380,443,1386.0,6,1,16.0,0.0,774

68329.0 65911

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
133,2021-01-01,"Sonoma, California, US",494336,1.8,8669.0,26069,243,6828.0,250,37,61.0,13,5722
133,2021-02-01,"Sonoma, California, US",494336,7.6,37573.0,28414,279,2345.0,100,20,41.0,0,1997
133,2021-03-01,"Sonoma, California, US",494336,23.1,114193.0,29493,311,1079.0,54,9,35.0,0,1053
133,2021-04-01,"Sonoma, California, US",494336,39.5,195339.0,30137,318,645.0,35,11,8.0,0,564
133,2021-05-01,"Sonoma, California, US",494336,52.9,261685.0,30656,322,519.0,38,9,4.0,0,559
131,2021-06-01,"Sonoma, California, US",494336,59.0,291509.0,31318,316,849.0,99,15,4.0,0,969
133,2021-07-01,"Sonoma, California, US",494336,61.6,304600.0,33000,329,1682.0,198,26,13.0,0,2488
133,2021-08-01,"Sonoma, California, US",494336,64.6,319205.0,37841,352,4841.0,240,25,23.0,0,4327
133,2021-09-01,"Sonoma, California, US",494336,66.9,330817.0,39995,382,2154.0,99,7,30.0,0,1933
133,2021-10-01,"Sonoma, California, US",494336,68.7,339532.0,41709,406,1714.0,67,6,25.0,0,1679
134,2021-11-01,"Sonoma, California, US",494336,70.2,346821.0,43232,412,1523.0,70,4,6.0,0,1683
134,2021-12-01,"Sonoma, California, US",494336,73.4,362982.0,46833,418,3601.0,87,2,6.0,0,6253
134,2022-01-01,"Sonoma, California, US",494336,76.0,375456.0,78378,445,31545.0,167,2,27.0,11,30127
134,2022-02-01,"Sonoma, California, US",494336,77.1,381163.0,84526,476,6148.0,29,1,31.0,0,4597
133,2022-03-01,"Sonoma, California, US",494336,77.6,383579.0,85777,487,1274.0,19,3,13.0,0.0,768

66747.0 64719

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
134,2021-01-01,"Stanislaus, California, US",550660,1.4,7617.0,50851,642,13024.0,408,19,103.0,62,11786
134,2021-02-01,"Stanislaus, California, US",550660,5.7,31512.0,55599,728,4748.0,215,11,114.0,0,4012
134,2021-03-01,"Stanislaus, California, US",550660,12.6,69645.0,58403,687,2804.0,193,17,41.0,0,2723
134,2021-04-01,"Stanislaus, California, US",550660,22.3,122831.0,60767,774,2364.0,182,16,89.0,0,2166
134,2021-05-01,"Stanislaus, California, US",550660,30.2,166116.0,62297,973,1530.0,123,3,202.0,0,1356
132,2021-06-01,"Stanislaus, California, US",550660,33.6,185119.0,63050,1018,816.0,93,3,46.0,0,813
134,2021-07-01,"Stanislaus, California, US",550660,35.9,197821.0,64970,1035,1926.0,200,7,21.0,0,2788
134,2021-08-01,"Stanislaus, California, US",550660,39.7,218539.0,74619,1075,9649.0,541,23,40.0,70,9567
134,2021-09-01,"Stanislaus, California, US",550660,46.2,254406.0,82219,1099,7600.0,459,11,25.0,39,6992
134,2021-10-01,"Stanislaus, California, US",550660,50.2,276534.0,87255,1357,5036.0,309,5,258.0,12,4766
135,2021-11-01,"Stanislaus, California, US",550660,53.3,293648.0,90507,1417,3252.0,245,1,60.0,12,3311
135,2021-12-01,"Stanislaus, California, US",550660,55.8,307532.0,94212,1473,3705.0,174,4,56.0,0,5397
135,2022-01-01,"Stanislaus, California, US",550660,51.3,282653.0,126141,1532,31929.0,69,1,59.0,44,31475
135,2022-02-01,"Stanislaus, California, US",550660,52.8,290876.0,134396,1652,8255.0,29,2,120.0,0,6435
134,2022-03-01,"Stanislaus, California, US",550660,53.6,295406.0,134865,1744,1089.0,13,0,92.0,0.0,736

97727.0 94323

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
135,2021-01-01,"Sutter, California, US",96971,1.1,1048.0,8367,89,1887.0,94,19,38.0,0,1638
135,2021-02-01,"Sutter, California, US",96971,6.0,5831.0,8906,99,566.0,48,10,10.0,0,473
135,2021-03-01,"Sutter, California, US",96971,15.2,14748.0,9193,106,287.0,21,3,7.0,0,277
135,2021-04-01,"Sutter, California, US",96971,26.6,25790.0,9435,110,249.0,31,1,4.0,0,202
135,2021-05-01,"Sutter, California, US",96971,33.9,32832.0,9611,111,177.0,12,2,3.0,0,165
133,2021-06-01,"Sutter, California, US",96971,38.9,37675.0,9728,114,165.0,17,5,3.0,0,164
135,2021-07-01,"Sutter, California, US",96971,41.6,40370.0,10174,127,446.0,45,10,14.0,0,660
135,2021-08-01,"Sutter, California, US",96971,45.0,43593.0,12069,136,1895.0,110,28,9.0,0,1857
135,2021-09-01,"Sutter, California, US",96971,48.9,47444.0,13438,160,1369.0,60,16,25.0,0,1271
135,2021-10-01,"Sutter, California, US",96971,51.7,50127.0,14183,178,745.0,38,8,18.0,0,679
136,2021-11-01,"Sutter, California, US",96971,53.6,51991.0,14604,186,421.0,24,8,8.0,0,436
136,2021-12-01,"Sutter, California, US",96971,55.8,54106.0,15181,193,577.0,28,7,8.0,0,784
136,2022-01-01,"Sutter, California, US",96971,58.6,56839.0,20914,202,5733.0,95,17,9.0,0,5746
136,2022-02-01,"Sutter, California, US",96971,60.1,58316.0,22327,214,1413.0,39,8,15.0,0,1116
135,2022-03-01,"Sutter, California, US",96971,60.8,58971.0,22701,222,374.0,14,2,9.0,0.0,221

16304.0 15689

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
136,2021-01-01,"Tehama, California, US",65084,0.6,411.0,4724,21,1364.0,23,4,12.0,0,1215
136,2021-02-01,"Tehama, California, US",65084,5.7,3727.0,5083,32,359.0,9,3,11.0,0,268
136,2021-03-01,"Tehama, California, US",65084,9.7,6316.0,5280,52,197.0,16,1,23.0,0,208
136,2021-04-01,"Tehama, California, US",65084,19.5,12707.0,5503,53,223.0,15,4,1.0,0,213
136,2021-05-01,"Tehama, California, US",65084,24.2,15770.0,5662,63,159.0,16,4,10.0,0,155
134,2021-06-01,"Tehama, California, US",65084,27.1,17621.0,5722,63,63.0,5,3,0.0,0,73
136,2021-07-01,"Tehama, California, US",65084,28.9,18787.0,5842,66,122.0,13,1,3.0,0,198
136,2021-08-01,"Tehama, California, US",65084,30.9,20129.0,7112,72,1270.0,41,6,6.0,0,1418
136,2021-09-01,"Tehama, California, US",65084,33.7,21950.0,8739,93,1627.0,25,5,22.0,11,1547
136,2021-10-01,"Tehama, California, US",65084,36.1,23491.0,9878,114,1139.0,30,10,21.0,14,1066
137,2021-11-01,"Tehama, California, US",65084,37.6,24500.0,10280,130,402.0,14,2,16.0,0,365
137,2021-12-01,"Tehama, California, US",65084,39.4,25633.0,10568,139,288.0,21,5,9.0,0,393
137,2022-01-01,"Tehama, California, US",65084,40.8,26533.0,13578,145,3010.0,72,8,6.0,0,3043
137,2022-02-01,"Tehama, California, US",65084,42.1,27393.0,14530,158,952.0,31,7,13.0,0,759
136,2022-03-01,"Tehama, California, US",65084,42.6,27697.0,14675,198,145.0,3,1,42.0,0.0,80

11320.0 11001

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
137,2021-01-01,"Tulare, California, US",466195,0.9,4221.0,51343,618,13860.0,452,40,172.0,121,12345
137,2021-02-01,"Tulare, California, US",466195,5.2,24286.0,55372,780,4029.0,149,22,163.0,11,3640
137,2021-03-01,"Tulare, California, US",466195,11.9,55669.0,56908,816,1536.0,74,9,42.0,0,1493
137,2021-04-01,"Tulare, California, US",466195,24.4,113544.0,57689,836,781.0,37,7,24.0,0,729
137,2021-05-01,"Tulare, California, US",466195,30.0,139866.0,58512,845,823.0,34,2,14.0,0,668
135,2021-06-01,"Tulare, California, US",466195,33.4,155610.0,58982,853,470.0,29,2,9.0,0,340
137,2021-07-01,"Tulare, California, US",466195,35.5,165612.0,60183,854,1201.0,127,16,2.0,0,1602
137,2021-08-01,"Tulare, California, US",466195,38.3,178518.0,67184,870,7001.0,435,78,18.0,12,7708
137,2021-09-01,"Tulare, California, US",466195,41.8,194826.0,75640,908,8456.0,450,87,40.0,43,8102
137,2021-10-01,"Tulare, California, US",466195,44.6,208048.0,82365,995,6725.0,328,52,91.0,50,6381
138,2021-11-01,"Tulare, California, US",466195,46.7,217678.0,86119,1096,3754.0,244,42,101.0,0,3711
138,2021-12-01,"Tulare, California, US",466195,48.9,228046.0,89692,1160,3573.0,203,27,67.0,0,4580
138,2022-01-01,"Tulare, California, US",466195,51.5,239988.0,121927,1245,32235.0,444,48,88.0,24,32490
138,2022-02-01,"Tulare, California, US",466195,53.0,246867.0,131544,1300,9617.0,215,19,55.0,0,7675
137,2022-03-01,"Tulare, California, US",466195,53.7,250439.0,133279,1410,1735.0,33,4,110.0,0.0,797

95796.0 92261

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
138,2021-01-01,"Tuolumne, California, US",54478,2.2,1209.0,3550,39,633.0,25,2,28.0,0,552
138,2021-02-01,"Tuolumne, California, US",54478,9.0,4885.0,3938,53,388.0,15,2,14.0,0,347
138,2021-03-01,"Tuolumne, California, US",54478,21.7,11801.0,4013,57,75.0,8,1,4.0,0,79
138,2021-04-01,"Tuolumne, California, US",54478,32.2,17526.0,4071,61,58.0,9,1,4.0,0,60
138,2021-05-01,"Tuolumne, California, US",54478,39.4,21442.0,4135,63,66.0,1,0,5.0,0,52
136,2021-06-01,"Tuolumne, California, US",54478,41.7,22691.0,4153,64,31.0,4,0,1.0,0,56
138,2021-07-01,"Tuolumne, California, US",54478,43.3,23592.0,4407,64,255.0,40,7,0.0,0,470
138,2021-08-01,"Tuolumne, California, US",54478,46.0,25037.0,5575,88,1168.0,65,12,24.0,0,1092
138,2021-09-01,"Tuolumne, California, US",54478,51.1,27825.0,6444,89,869.0,34,3,1.0,0,836
138,2021-10-01,"Tuolumne, California, US",54478,53.4,29096.0,7236,90,792.0,57,10,1.0,0,807
139,2021-11-01,"Tuolumne, California, US",54478,55.6,30288.0,7753,90,517.0,34,5,0.0,0,468
139,2021-12-01,"Tuolumne, California, US",54478,57.0,31047.0,8165,91,412.0,20,6,1.0,0,591
139,2022-01-01,"Tuolumne, California, US",54478,54.7,29799.0,11747,91,3589.0,55,10,1.0,0,3880
139,2022-02-01,"Tuolumne, California, US",54478,55.5,30211.0,12804,175,1057.0,23,4,84.0,0,810
138,2022-03-01,"Tuolumne, California, US",54478,55.9,30461.0,13186,180,396.0,2,2,6.0,0.0,95

10306.0 10195

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
139,2021-01-01,"Ventura, California, US",846006,1.7,14088.0,73206,502,30588.0,1101,124,251.0,294,27363
139,2021-02-01,"Ventura, California, US",846006,6.9,58428.0,80544,775,7338.0,343,51,273.0,28,5963
139,2021-03-01,"Ventura, California, US",846006,17.5,147859.0,82221,969,1776.0,137,22,194.0,0,1960
139,2021-04-01,"Ventura, California, US",846006,33.7,284694.0,83194,1004,973.0,72,12,38.0,0,945
139,2021-05-01,"Ventura, California, US",846006,46.8,395945.0,84021,1021,827.0,63,8,19.0,0,637
137,2021-06-01,"Ventura, California, US",846006,53.2,449949.0,84465,1032,469.0,67,9,12.0,0,612
139,2021-07-01,"Ventura, California, US",846006,56.0,474091.0,87038,1044,2573.0,262,44,12.0,0,3545
139,2021-08-01,"Ventura, California, US",846006,58.8,497156.0,94266,1081,7228.0,211,21,42.0,0,7012
139,2021-09-01,"Ventura, California, US",846006,61.3,518609.0,99044,1148,4778.0,48,3,72.0,11,4182
139,2021-10-01,"Ventura, California, US",846006,63.3,535700.0,101775,1174,2731.0,19,2,26.0,0,2592
140,2021-11-01,"Ventura, California, US",846006,64.9,548684.0,104046,1190,2271.0,17,4,16.0,0,2578
140,2021-12-01,"Ventura, California, US",846006,67.2,568794.0,113901,1211,9855.0,34,2,21.0,11,18159
140,2022-01-01,"Ventura, California, US",846006,70.0,592534.0,172992,1290,59091.0,119,1,81.0,125,51812
140,2022-02-01,"Ventura, California, US",846006,71.2,602158.0,180813,1425,7865.0,20,2,135.0,0,5890
139,2022-03-01,"Ventura, California, US",846006,71.7,606740.0,182338,1462,1703.0,3,0,40.0,0.0,1018

140066.0 134268

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
140,2021-01-01,"Yolo, California, US",220500,1.5,3375.0,11943,151,3577.0,88,8,37.0,11,3105
140,2021-02-01,"Yolo, California, US",220500,7.2,15976.0,13073,188,1130.0,39,4,39.0,0,806
140,2021-03-01,"Yolo, California, US",220500,18.8,41508.0,13608,197,535.0,27,3,13.0,0,466
140,2021-04-01,"Yolo, California, US",220500,32.9,72501.0,14042,208,468.0,31,7,11.0,0,469
140,2021-05-01,"Yolo, California, US",220500,44.9,99026.0,14390,210,348.0,24,0,5.0,0,283
138,2021-06-01,"Yolo, California, US",220500,50.7,111795.0,14539,213,182.0,11,1,3.0,0,213
140,2021-07-01,"Yolo, California, US",220500,54.4,120009.0,15374,215,835.0,69,10,2.0,0,1228
140,2021-08-01,"Yolo, California, US",220500,56.7,125030.0,18045,234,2671.0,78,6,19.0,0,2582
140,2021-09-01,"Yolo, California, US",220500,59.0,130023.0,19634,242,1589.0,38,6,8.0,0,1447
140,2021-10-01,"Yolo, California, US",220500,60.8,133956.0,20793,250,1159.0,43,12,8.0,0,1126
141,2021-11-01,"Yolo, California, US",220500,62.2,137095.0,21638,257,845.0,17,1,7.0,0,837
141,2021-12-01,"Yolo, California, US",220500,65.8,145153.0,23395,270,1757.0,25,10,13.0,0,2799
141,2022-01-01,"Yolo, California, US",220500,68.1,150095.0,36036,274,12641.0,36,4,6.0,0,12268
141,2022-02-01,"Yolo, California, US",220500,69.3,152883.0,38877,299,2841.0,26,4,26.0,0,2073
140,2022-03-01,"Yolo, California, US",220500,69.9,154039.0,39553,313,678.0,3,0,16.0,0.0,427

31256.0 30129

,Date,Combined_Key,Population,total_vaccinated_percent,total_vaccinated_count,tot_confirm,tot_deaths,New_Confirm,hosp,icu,New_Deaths,death,case_count
141,2021-01-01,"Yuba, California, US",78668,0.6,496.0,5146,33,1307.0,69,13,16.0,0,1112
141,2021-02-01,"Yuba, California, US",78668,4.0,3148.0,5550,41,404.0,37,2,8.0,0,343
141,2021-03-01,"Yuba, California, US",78668,10.3,8110.0,5799,44,249.0,19,1,3.0,0,241
141,2021-04-01,"Yuba, California, US",78668,19.3,15155.0,5991,44,192.0,19,4,1.0,0,169
141,2021-05-01,"Yuba, California, US",78668,26.0,20428.0,6190,48,199.0,13,1,5.0,0,191
139,2021-06-01,"Yuba, California, US",78668,31.2,24546.0,6324,51,153.0,19,2,3.0,0,152
141,2021-07-01,"Yuba, California, US",78668,34.0,26729.0,6766,50,442.0,44,8,1.0,0,619
141,2021-08-01,"Yuba, California, US",78668,37.3,29330.0,8436,54,1670.0,81,24,7.0,0,1674
141,2021-09-01,"Yuba, California, US",78668,41.6,32695.0,9595,66,1159.0,76,18,13.0,0,1052
141,2021-10-01,"Yuba, California, US",78668,44.5,35000.0,10373,82,778.0,46,9,16.0,0,710
142,2021-11-01,"Yuba, California, US",78668,46.3,36392.0,10773,89,400.0,29,5,7.0,0,405
142,2021-12-01,"Yuba, California, US",78668,48.2,37893.0,11277,99,504.0,26,3,10.0,0,716
142,2022-01-01,"Yuba, California, US",78668,51.0,40094.0,15683,103,4406.0,99,13,6.0,0,4364
142,2022-02-01,"Yuba, California, US",78668,53.2,41878.0,16802,113,1119.0,55,9,15.0,0,913
141,2022-03-01,"Yuba, California, US",78668,54.0,42463.0,17050,120,248.0,9,1,8.0,0.0,135

13230.0 12796