# Stoneburner, Kurt
- ## DSC 640 - Week XX

In [2]:
import os
import sys
# //*** Imports and Load Data
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

#//*** Use the whole window in the IPYNB editor
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

#//*** Maximize columns and rows displayed by pandas
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', None)

In [3]:
raw_df = pd.read_excel("z_wk01_allhlcn20.xlsx")

In [16]:
state_df = raw_df[raw_df['Area Type'] == "State"]

,Area\nCode,St,Cnty,Own,NAICS,Year,Qtr,Area Type,St Name,Area,Ownership,Industry,Annual Average Status Code,Annual Average Establishment Count,Annual Average Employment,Annual Total Wages,Annual Average Weekly Wage,Annual Average Pay,Employment Location Quotient Relative to U.S.,Total Wage Location Quotient Relative to U.S.
18,01000,01,0.0,0,10,2020,A,State,Alabama,Alabama -- Statewide,Total Covered,"10 Total, all industries",NaN,132001,1910169,99619444620,1003,52152,1.00,1.00
19,01000,01,0.0,1,10,2020,A,State,Alabama,Alabama -- Statewide,Federal Government,"10 Total, all industries",NaN,1250,55888,4820416591,1659,86252,1.39,1.72
20,01000,01,0.0,2,10,2020,A,State,Alabama,Alabama -- Statewide,State Government,"10 Total, all industries",NaN,1365,97435,5625429688,1110,57735,1.55,1.67
21,01000,01,0.0,3,10,2020,A,State,Alabama,Alabama -- Statewide,Local Government,"10 Total, all industries",NaN,3702,208839,9631021976,887,46117,1.11,1.11
22,01000,01,0.0,5,10,2020,A,State,Alabama,Alabama -- Statewide,Private,"10 Total, all industries",NaN,125684,1548007,79542576365,988,51384,0.96,0.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55731,56000,56,0.0,5,1024,2020,A,State,Wyoming,Wyoming -- Statewide,Private,1024 Professional and business services,NaN,4991,18354,1105052453,1158,60209,0.48,0.43
55732,56000,56,0.0,5,1025,2020,A,State,Wyoming,Wyoming -- Statewide,Private,1025 Education and health services,NaN,3486,26932,1248088204,891,46342,0.64,0.68
55733,56000,56,0.0,5,1026,2020,A,State,Wyoming,Wyoming -- Statewide,Private,1026 Leisure and hospitality,NaN,2421,32269,743850729,443,23051,1.34,1.50
55734,56000,56,0.0,5,1027,2020,A,State,Wyoming,Wyoming -- Statewide,Private,1027 Other services,NaN,1667,6764,272455135,775,40283,0.91,1.05
55735,56000,56,0.0,5,1029,2020,A,State,Wyoming,Wyoming -- Statewide,Private,1029 Unclassified,NaN,115,123,11311421,1766,91838,0.43,0.74

In [18]:
ca_df = state_df[state_df["St Name"]=="California"]
ca_df

,Area\nCode,St,Cnty,Own,NAICS,Year,Qtr,Area Type,St Name,Area,Ownership,Industry,Annual Average Status Code,Annual Average Establishment Count,Annual Average Employment,Annual Total Wages,Annual Average Weekly Wage,Annual Average Pay,Employment Location Quotient Relative to U.S.,Total Wage Location Quotient Relative to U.S.
3353,06000,06,0.0,0,10,2020,A,State,California,California -- Statewide,Total Covered,"10 Total, all industries",NaN,1627484,16376295,1301826279330,1529,79495,1.00,1.00
3354,06000,06,0.0,1,10,2020,A,State,California,California -- Statewide,Federal Government,"10 Total, all industries",NaN,3334,260068,22718907478,1680,87358,0.75,0.62
3355,06000,06,0.0,2,10,2020,A,State,California,California -- Statewide,State Government,"10 Total, all industries",NaN,13637,474295,42584813264,1727,89785,0.88,0.96
3356,06000,06,0.0,3,10,2020,A,State,California,California -- Statewide,Local Government,"10 Total, all industries",NaN,19348,1677176,122885828106,1409,73269,1.04,1.08
3357,06000,06,0.0,5,10,2020,A,State,California,California -- Statewide,Private,"10 Total, all industries",NaN,1591166,13964756,1113636730482,1534,79746,1.01,1.01
3358,06000,06,0.0,5,101,2020,A,State,California,California -- Statewide,Private,101 Goods-producing,NaN,148897,2544673,222672030038,1683,87505,1.03,1.03
3359,06000,06,0.0,5,1011,2020,A,State,California,California -- Statewide,Private,1011 Natural resources and mining,NaN,17731,425665,18110640593,818,42547,2.03,1.14
3360,06000,06,0.0,5,1012,2020,A,State,California,California -- Statewide,Private,1012 Construction,NaN,86778,855713,65687839201,1476,76764,1.01,0.93
3361,06000,06,0.0,5,1013,2020,A,State,California,California -- Statewide,Private,1013 Manufacturing,NaN,44388,1263295,138873550244,2114,109930,0.89,1.07
3362,06000,06,0.0,5,102,2020,A,State,California,California -- Statewide,Private,102 Service-providing,NaN,1442269,11420083,890964700444,1500,78017,1.00,1.00
3363,06000,06,0.0,5,1021,2020,A,State,California,California -- Statewide,Private,"1021 Trade, transportation, and utilities",NaN,201611,2888878,169855315589,1131,58796,0.93,0.84
3364,06000,06,0.0,5,1022,2020,A,State,California,California -- Statewide,Private,1022 Information,NaN,29655,526694,114962004954,4198,218271,1.65,2.13
3365,06000,06,0.0,5,1023,2020,A,State,California,California -- Statewide,Private,1023 Financial activities,NaN,113246,816914,101394249612,2387,124119,0.85,0.79
3366,06000,06,0.0,5,1024,2020,A,State,California,California -- Statewide,Private,1024 Professional and business services,NaN,223273,2599633,276976337045,2049,106544,1.09,1.10
3367,06000,06,0.0,5,1025,2020,A,State,California,California -- Statewide,Private,1025 Education and health services,NaN,657342,2650424,152890830445,1109,57685,1.01,0.85
3368,06000,06,0.0,5,1026,2020,A,State,California,California -- Statewide,Private,1026 Leisure and hospitality,NaN,118537,1483790,53516059805,694,36067,0.98,1.11
3369,06000,06,0.0,5,1027,2020,A,State,California,California -- Statewide,Private,1027 Other services,NaN,97944,452620,21310952105,905,47084,0.97,0.84
3370,06000,06,0.0,5,1029,2020,A,State,California,California -- Statewide,Private,1029 Unclassified,NaN,663,1131,58950889,1003,52130,0.06,0.04

In [ ]:
# //*** CODE HERE

In [ ]:
# //*** CODE HERE

In [ ]:
# //*** CODE HERE