# Stoneburner, Kurt
- ## DSC 640 - Week XX

In [1]:
import os
import sys
# //*** Imports and Load Data
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

#//*** Use the whole window in the IPYNB editor
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

#//*** Maximize columns and rows displayed by pandas
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', None)

In [2]:
raw_df = pd.read_excel("z_wk01_allhlcn20.xlsx")

In [3]:
print(raw_df)

      Area\nCode   St  Cnty  Own  NAICS  Year Qtr Area Type St Name  \
0          US000   US   0.0    0     10  2020   A    Nation     NaN
1          US000   US   0.0    1     10  2020   A    Nation     NaN
2          US000   US   0.0    2     10  2020   A    Nation     NaN
3          US000   US   0.0    3     10  2020   A    Nation     NaN
4          US000   US   0.0    5     10  2020   A    Nation     NaN
...          ...  ...   ...  ...    ...   ...  ..       ...     ...
62883      C4974  NaN   NaN    5   1024  2020   A       MSA     NaN
62884      C4974  NaN   NaN    5   1025  2020   A       MSA     NaN
62885      C4974  NaN   NaN    5   1026  2020   A       MSA     NaN
62886      C4974  NaN   NaN    5   1027  2020   A       MSA     NaN
62887      C4974  NaN   NaN    5   1029  2020   A       MSA     NaN

               Area           Ownership  \
0        U.S. TOTAL       Total Covered
1        U.S. TOTAL  Federal Government
2        U.S. TOTAL    State Government
3        U.S. TOTAL    Local Government
4        U.S. TOTAL             Private
...             ...                 ...
62883  Yuma, AZ MSA             Private
62884  Yuma, AZ MSA             Private
62885  Yuma, AZ MSA             Private
62886  Yuma, AZ MSA             Private
62887  Yuma, AZ MSA             Private

                                      Industry Annual Average Status Code  \
0                     10 Total, all industries                        NaN
1                     10 Total, all industries                        NaN
2                     10 Total, all industries                        NaN
3                     10 Total, all industries                        NaN
4                     10 Total, all industries                        NaN
...                                        ...                        ...
62883  1024 Professional and business services                        NaN
62884       1025 Education and health services                        NaN
62885             1026 Leisure and hospitality                        NaN
62886                      1027 Other services                        NaN
62887                        1029 Unclassified                        NaN

       Annual Average Establishment Count  Annual Average Employment  \
0                                10494952                  139106969
1                                   61310                    2927788
2                                   70057                    4590784
3                                  171046                   13643540
4                                10192539                  117944857
...                                   ...                        ...
62883                                 454                       6684
62884                                 436                       7722
62885                                 326                       5655
62886                                 215                       1205
62887                                  11                         25

       Annual Total Wages  Annual Average Weekly Wage  Annual Average Pay  \
0           8904710745957                        1231               64013
1            250261448866                        1644               85478
2            301891443958                        1265               65760
3            776056455733                        1094               56881
4           7576501397400                        1235               64238
...                   ...                         ...                 ...
62883           317588317                         914               47517
62884           434850090                        1083               56315
62885           127159067                         432               22486
62886            43710299                         697               36267
62887              725989                         549               28564

       Employment Location Quotient Relative to U.S.  \
0                                               1.00
1                                               1.00
2                                               1.00
3                                               1.00
4                                               1.00
...                                              ...
62883                                           0.69
62884                                           0.73
62885                                           0.93
62886                                           0.64
62887                                           0.34

       Total Wage Location Quotient Relative to U.S.
0                                               1.00
1                                               1.00
2                                               1.00
3                                               1.00
4                                               1.00
...                                              ...
62883                                           0.56
62884                                           1.07
62885                                           1.16
62886                                           0.76
62887                                           0.21

[62888 rows x 20 columns]

In [ ]:
# //*** CODE HERE

In [ ]:
# //*** CODE HERE

In [ ]:
# //*** CODE HERE